In [302]:
%automagic

Automagic is OFF, % prefix IS needed for line magics.

In [303]:
import pandas as pd
import numpy as np
#from datetime import datetime
#from pandas import DataFrame

In [304]:
folder = '/home/dsc/Repos/TFM_Accident_reduction_plan_in_the_city_of_Madrid'
!ls {folder}

01_Originals_data  02_Desarrollo  README.md

In [305]:
import os
os.getcwd()

'/home/dsc/Repos/TFM_Accident_reduction_plan_in_the_city_of_Madrid'

In [306]:
os.chdir(folder)
os.getcwd()

'/home/dsc/Repos/TFM_Accident_reduction_plan_in_the_city_of_Madrid'

In [307]:
# Read from excel file with column names stipulated:
# FECHA	RANGO HORARIO	DIA SEMANA	DISTRITO	LUGAR ACCIDENTE	Nº	Nº PARTE	CPFA Granizo	CPFA Hielo	CPFA Lluvia	CPFA Niebla	CPFA Seco	CPFA Nieve	CPSV Mojada	CPSV Aceite	CPSV Barro	CPSV Grava Suelta	CPSV Hielo	CPSV Seca Y Limpia	Nº VICTIMAS *	TIPO ACCIDENTE	Tipo Vehiculo	TIPO PERSONA	SEXO	LESIVIDAD	Tramo Edad
# x
# FECHA   RANGO_HORARIO   DIA_SEMANA      DISTRITO        LUGAR_ACCIDENTE BORRAR  BORRAR          BORRAR          BORRAR          BORRAR          BORRAR          BORRAR          BORRAR          BORRAR          BORRAR          BORRAR          BORRAR                  BORRAR          BORRAR                  NUM_PERSONAS    TIPO_ACCIDENTE  TIPO_VEHICULO   TIPO_PERSONA    SEXO    LESIVIDAD       TRAMO_EDAD

df_from_xls = pd.read_excel('./01_Originals_data/2010_Accidentalidad.xlsx',
                     sheet_name='LISTADO DE ACCIDENTES MENSUALES',
                     index_col=None,
                     names=['FECHA', 'RANGO_HORARIO', 'DIA_SEMANA', 'DISTRITO', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'NUM_PERSONAS', 'TIPO_ACCIDENTE', 'TIPO_VEHICULO', 'TIPO_PERSONA', 'SEXO', 'LESIVIDAD', 'TRAMO_EDAD'])

In [308]:
df_from_xls.head()

,FECHA,RANGO_HORARIO,DIA_SEMANA,DISTRITO,BORRAR,BORRAR,BORRAR,BORRAR,BORRAR,BORRAR,...,BORRAR,BORRAR,BORRAR,NUM_PERSONAS,TIPO_ACCIDENTE,TIPO_VEHICULO,TIPO_PERSONA,SEXO,LESIVIDAD,TRAMO_EDAD
0,2010-01-01,DE 00:00 A 00:59,VIERNES,CHAMARTIN,CALLE DE CARTAGENA NUM ...,104,2010/135,NO,NO,SI,...,NO,NO,NO,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 18 A 20 AÑOS
1,2010-01-01,DE 00:00 A 00:59,VIERNES,CHAMARTIN,CALLE DE CARTAGENA NUM ...,104,2010/135,NO,NO,SI,...,NO,NO,NO,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 50 A 54 AÑOS
2,2010-01-01,DE 00:00 A 00:59,VIERNES,CHAMARTIN,CALLE DE CARTAGENA NUM ...,104,2010/135,NO,NO,SI,...,NO,NO,NO,1,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,HL,DE 40 A 44 AÑOS
3,2010-01-01,DE 1:00 A 1:59,VIERNES,PUENTE DE VALLECAS,AUTOVIA M-30 CALZADA 2 KM. ...,10200,2010/94,NO,NO,NO,...,NO,NO,NO,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,DE 25 A 29 AÑOS
4,2010-01-01,DE 1:00 A 1:59,VIERNES,PUENTE DE VALLECAS,AUTOVIA M-30 CALZADA 2 KM. ...,10200,2010/94,NO,NO,NO,...,NO,NO,NO,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,DE 30 A 34 ANOS

In [309]:
#print(df_from_xls[:5])
#print(df_from_xls.loc[1])
#df_from_xls

In [310]:
# Comprobar valores nulos
df_from_xls.isnull().sum()

FECHA             0
RANGO_HORARIO     0
DIA_SEMANA        0
DISTRITO          0
BORRAR            0
BORRAR            0
BORRAR            0
BORRAR            0
BORRAR            0
BORRAR            0
BORRAR            0
BORRAR            0
BORRAR            0
BORRAR            0
BORRAR            0
BORRAR            0
BORRAR            0
BORRAR            0
BORRAR            0
NUM_PERSONAS      0
TIPO_ACCIDENTE    0
TIPO_VEHICULO     0
TIPO_PERSONA      0
SEXO              0
LESIVIDAD         0
TRAMO_EDAD        0
dtype: int64

In [311]:
# borrar columnas sobrantes:
#data_xls_sin_columnas = 
del df_from_xls['BORRAR']
# data_xls_sin_columnas = data_xls.drop(['BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR'], axis='columns', inplace=True)

In [312]:
df_from_xls.head(20)

,FECHA,RANGO_HORARIO,DIA_SEMANA,DISTRITO,NUM_PERSONAS,TIPO_ACCIDENTE,TIPO_VEHICULO,TIPO_PERSONA,SEXO,LESIVIDAD,TRAMO_EDAD
0,2010-01-01,DE 00:00 A 00:59,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 18 A 20 AÑOS
1,2010-01-01,DE 00:00 A 00:59,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 50 A 54 AÑOS
2,2010-01-01,DE 00:00 A 00:59,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,HL,DE 40 A 44 AÑOS
3,2010-01-01,DE 1:00 A 1:59,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,DE 25 A 29 AÑOS
4,2010-01-01,DE 1:00 A 1:59,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,DE 30 A 34 ANOS
5,2010-01-01,DE 1:00 A 1:59,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,DE 25 A 29 AÑOS
6,2010-01-01,DE 1:00 A 1:59,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,DE 25 A 29 AÑOS
7,2010-01-01,DE 1:00 A 1:59,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 25 A 29 AÑOS
8,2010-01-01,DE 1:00 A 1:59,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,TURISMO,CONDUCTOR,MUJER,HL,DE 25 A 29 AÑOS
9,2010-01-01,DE 1:00 A 1:59,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,TURISMO,VIAJERO,MUJER,HL,DE 21 A 24 AÑOS
10,2010-01-01,DE 1:00 A 1:59,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,FURGONETA,CONDUCTOR,HOMBRE,HL,DE 25 A 29 AÑOS
11,2010-01-01,DE 2:00 A 2:59,VIERNES,CHAMBERI,1,COLISIÓN DOBLE,MOTOCICLETA,CONDUCTOR,HOMBRE,HL,DE 35 A 39 AÑOS
12,2010-01-01,DE 2:00 A 2:59,VIERNES,CHAMBERI,1,COLISIÓN DOBLE,AUTO-TAXI,CONDUCTOR,HOMBRE,IL,DE 35 A 39 AÑOS
13,2010-01-01,DE 4:00 A 4:59,VIERNES,RETIRO,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,TESTIGO,HOMBRE,IL,DE 25 A 29 AÑOS
14,2010-01-01,DE 4:00 A 4:59,VIERNES,RETIRO,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,TESTIGO,HOMBRE,IL,DE 30 A 34 ANOS
15,2010-01-01,DE 4:00 A 4:59,VIERNES,RETIRO,7,COLISIÓN MÚLTIPLE,TURISMO,CONDUCTOR,HOMBRE,HL,DE 25 A 29 AÑOS
16,2010-01-01,DE 4:00 A 4:59,VIERNES,RETIRO,7,COLISIÓN MÚLTIPLE,TURISMO,VIAJERO,HOMBRE,IL,DE 30 A 34 ANOS
17,2010-01-01,DE 4:00 A 4:59,VIERNES,RETIRO,7,COLISIÓN MÚLTIPLE,TURISMO,VIAJERO,MUJER,IL,DE 18 A 20 AÑOS
18,2010-01-01,DE 4:00 A 4:59,VIERNES,RETIRO,7,COLISIÓN MÚLTIPLE,TURISMO,VIAJERO,MUJER,HG,DE 21 A 24 AÑOS
19,2010-01-01,DE 4:00 A 4:59,VIERNES,RETIRO,7,COLISIÓN MÚLTIPLE,TURISMO,VIAJERO,MUJER,HL,DE 21 A 24 AÑOS

In [313]:
#print(df_from_xls[:5])
#print(data_xls.loc[1])
#data_xls

In [314]:
df_from_xls.dtypes

FECHA             datetime64[ns]
RANGO_HORARIO             object
DIA_SEMANA                object
DISTRITO                  object
NUM_PERSONAS               int64
TIPO_ACCIDENTE            object
TIPO_VEHICULO             object
TIPO_PERSONA              object
SEXO                      object
LESIVIDAD                 object
TRAMO_EDAD                object
dtype: object

In [315]:
df_from_xls.columns

Index(['FECHA', 'RANGO_HORARIO', 'DIA_SEMANA', 'DISTRITO', 'NUM_PERSONAS',
       'TIPO_ACCIDENTE', 'TIPO_VEHICULO', 'TIPO_PERSONA', 'SEXO', 'LESIVIDAD',
       'TRAMO_EDAD'],
      dtype='object')

In [316]:
# strip leading and trailing space
# no string: df_from_xls['FECHA'] = df_from_xls['FECHA'].str.strip()
df_from_xls['RANGO_HORARIO'] = df_from_xls['RANGO_HORARIO'].str.strip()
df_from_xls['DIA_SEMANA'] = df_from_xls['DIA_SEMANA'].str.strip()
df_from_xls['DISTRITO'] = df_from_xls['DISTRITO'].str.strip()
# no string: df_from_xls['NUM_PERSONAS'] = df_from_xls['NUM_PERSONAS'].str.strip()
df_from_xls['TIPO_ACCIDENTE'] = df_from_xls['TIPO_ACCIDENTE'].str.strip()
df_from_xls['TIPO_VEHICULO'] = df_from_xls['TIPO_VEHICULO'].str.strip()
df_from_xls['TIPO_PERSONA'] = df_from_xls['TIPO_PERSONA'].str.strip()
df_from_xls['SEXO'] = df_from_xls['SEXO'].str.strip()
df_from_xls['LESIVIDAD'] = df_from_xls['LESIVIDAD'].str.strip()
df_from_xls['TRAMO_EDAD'] = df_from_xls['TRAMO_EDAD'].str.strip()

In [317]:
df_from_xls["FECHA"].unique()

array(['2010-01-01T00:00:00.000000000', '2010-01-02T00:00:00.000000000',
       '2010-01-03T00:00:00.000000000', '2010-01-04T00:00:00.000000000',
       '2010-01-05T00:00:00.000000000', '2010-01-06T00:00:00.000000000',
       '2010-01-07T00:00:00.000000000', '2010-01-08T00:00:00.000000000',
       '2010-01-09T00:00:00.000000000', '2010-01-10T00:00:00.000000000',
       '2010-01-11T00:00:00.000000000', '2010-01-12T00:00:00.000000000',
       '2010-01-13T00:00:00.000000000', '2010-01-14T00:00:00.000000000',
       '2010-01-15T00:00:00.000000000', '2010-01-16T00:00:00.000000000',
       '2010-01-17T00:00:00.000000000', '2010-01-18T00:00:00.000000000',
       '2010-01-19T00:00:00.000000000', '2010-01-20T00:00:00.000000000',
       '2010-01-21T00:00:00.000000000', '2010-01-22T00:00:00.000000000',
       '2010-01-23T00:00:00.000000000', '2010-01-24T00:00:00.000000000',
       '2010-01-25T00:00:00.000000000', '2010-01-26T00:00:00.000000000',
       '2010-01-27T00:00:00.000000000', '2010-01-28T00:00:00.000000000',
       '2010-01-29T00:00:00.000000000', '2010-01-30T00:00:00.000000000',
       '2010-01-31T00:00:00.000000000', '2010-02-01T00:00:00.000000000',
       '2010-02-02T00:00:00.000000000', '2010-02-03T00:00:00.000000000',
       '2010-02-04T00:00:00.000000000', '2010-02-05T00:00:00.000000000',
       '2010-02-06T00:00:00.000000000', '2010-02-07T00:00:00.000000000',
       '2010-02-08T00:00:00.000000000', '2010-02-09T00:00:00.000000000',
       '2010-02-10T00:00:00.000000000', '2010-02-11T00:00:00.000000000',
       '2010-02-12T00:00:00.000000000', '2010-02-13T00:00:00.000000000',
       '2010-02-14T00:00:00.000000000', '2010-02-15T00:00:00.000000000',
       '2010-02-16T00:00:00.000000000', '2010-02-17T00:00:00.000000000',
       '2010-02-18T00:00:00.000000000', '2010-02-19T00:00:00.000000000',
       '2010-02-20T00:00:00.000000000', '2010-02-21T00:00:00.000000000',
       '2010-02-22T00:00:00.000000000', '2010-02-23T00:00:00.000000000',
       '2010-02-24T00:00:00.000000000', '2010-02-25T00:00:00.000000000',
       '2010-02-26T00:00:00.000000000', '2010-02-27T00:00:00.000000000',
       '2010-02-28T00:00:00.000000000', '2010-03-01T00:00:00.000000000',
       '2010-03-02T00:00:00.000000000', '2010-03-03T00:00:00.000000000',
       '2010-03-04T00:00:00.000000000', '2010-03-05T00:00:00.000000000',
       '2010-03-06T00:00:00.000000000', '2010-03-07T00:00:00.000000000',
       '2010-03-08T00:00:00.000000000', '2010-03-09T00:00:00.000000000',
       '2010-03-10T00:00:00.000000000', '2010-03-11T00:00:00.000000000',
       '2010-03-12T00:00:00.000000000', '2010-03-13T00:00:00.000000000',
       '2010-03-14T00:00:00.000000000', '2010-03-15T00:00:00.000000000',
       '2010-03-16T00:00:00.000000000', '2010-03-17T00:00:00.000000000',
       '2010-03-18T00:00:00.000000000', '2010-03-19T00:00:00.000000000',
       '2010-03-20T00:00:00.000000000', '2010-03-21T00:00:00.000000000',
       '2010-03-22T00:00:00.000000000', '2010-03-23T00:00:00.000000000',
       '2010-03-24T00:00:00.000000000', '2010-03-25T00:00:00.000000000',
       '2010-03-26T00:00:00.000000000', '2010-03-27T00:00:00.000000000',
       '2010-03-28T00:00:00.000000000', '2010-03-29T00:00:00.000000000',
       '2010-03-30T00:00:00.000000000', '2010-03-31T00:00:00.000000000',
       '2010-04-01T00:00:00.000000000', '2010-04-02T00:00:00.000000000',
       '2010-04-03T00:00:00.000000000', '2010-04-04T00:00:00.000000000',
       '2010-04-05T00:00:00.000000000', '2010-04-06T00:00:00.000000000',
       '2010-04-07T00:00:00.000000000', '2010-04-08T00:00:00.000000000',
       '2010-04-09T00:00:00.000000000', '2010-04-10T00:00:00.000000000',
       '2010-04-11T00:00:00.000000000', '2010-04-12T00:00:00.000000000',
       '2010-04-13T00:00:00.000000000', '2010-04-14T00:00:00.000000000',
       '2010-04-15T00:00:00.000000000', '2010-04-16T00:00:00.000000000',
       '2010-04-17T00:00:00.000000000', '2010-04-18T00:00:00.000000000',
       '2010-04-19T00:00:00.000000000', '2010-04-20T00:00:00.000000000',
       '2010-04-21T00:00:00.000000000', '2010-04-22T00:00:00.000000000',
       '2010-04-23T00:00:00.000000000', '2010-04-24T00:00:00.000000000',
       '2010-04-25T00:00:00.000000000', '2010-04-26T00:00:00.000000000',
       '2010-04-27T00:00:00.000000000', '2010-04-28T00:00:00.000000000',
       '2010-04-29T00:00:00.000000000', '2010-04-30T00:00:00.000000000',
       '2010-05-01T00:00:00.000000000', '2010-05-02T00:00:00.000000000',
       '2010-05-03T00:00:00.000000000', '2010-05-04T00:00:00.000000000',
       '2010-05-05T00:00:00.000000000', '2010-05-06T00:00:00.000000000',
       '2010-05-07T00:00:00.000000000', '2010-05-08T00:00:00.000000000',
       '2010-05-09T00:00:00.000000000', '2010-05-10T00:00:00.000000000',
       '2010-05-11T00:00:00.000000000', '2010-05-12T00:00:00.000000000',
       '2010-05-13T00:00:00.000000000', '2010-05-14T00:00:00.000000000',
       '2010-05-15T00:00:00.000000000', '2010-05-16T00:00:00.000000000',
       '2010-05-17T00:00:00.000000000', '2010-05-18T00:00:00.000000000',
       '2010-05-19T00:00:00.000000000', '2010-05-20T00:00:00.000000000',
       '2010-05-21T00:00:00.000000000', '2010-05-22T00:00:00.000000000',
       '2010-05-23T00:00:00.000000000', '2010-05-24T00:00:00.000000000',
       '2010-05-25T00:00:00.000000000', '2010-05-26T00:00:00.000000000',
       '2010-05-27T00:00:00.000000000', '2010-05-28T00:00:00.000000000',
       '2010-05-29T00:00:00.000000000', '2010-05-30T00:00:00.000000000',
       '2010-05-31T00:00:00.000000000', '2010-06-01T00:00:00.000000000',
       '2010-06-02T00:00:00.000000000', '2010-06-03T00:00:00.000000000',
       '2010-06-04T00:00:00.000000000', '2010-06-05T00:00:00.000000000',
       '2010-06-06T00:00:00.000000000', '2010-06-07T00:00:00.000000000',
       '2010-06-08T00:00:00.000000000', '2010-06-09T00:00:00.000000000',
       '2010-06-10T00:00:00.000000000', '2010-06-11T00:00:00.000000000',
       '2010-06-12T00:00:00.000000000', '2010-06-13T00:00:00.000000000',
       '2010-06-14T00:00:00.000000000', '2010-06-15T00:00:00.000000000',
       '2010-06-16T00:00:00.000000000', '2010-06-17T00:00:00.000000000',
       '2010-06-18T00:00:00.000000000', '2010-06-19T00:00:00.000000000',
       '2010-06-20T00:00:00.000000000', '2010-06-21T00:00:00.000000000',
       '2010-06-22T00:00:00.000000000', '2010-06-23T00:00:00.000000000',
       '2010-06-24T00:00:00.000000000', '2010-06-25T00:00:00.000000000',
       '2010-06-26T00:00:00.000000000', '2010-06-27T00:00:00.000000000',
       '2010-06-28T00:00:00.000000000', '2010-06-29T00:00:00.000000000',
       '2010-06-30T00:00:00.000000000', '2010-07-01T00:00:00.000000000',
       '2010-07-02T00:00:00.000000000', '2010-07-03T00:00:00.000000000',
       '2010-07-04T00:00:00.000000000', '2010-07-05T00:00:00.000000000',
       '2010-07-06T00:00:00.000000000', '2010-07-07T00:00:00.000000000',
       '2010-07-08T00:00:00.000000000', '2010-07-09T00:00:00.000000000',
       '2010-07-10T00:00:00.000000000', '2010-07-11T00:00:00.000000000',
       '2010-07-12T00:00:00.000000000', '2010-07-13T00:00:00.000000000',
       '2010-07-14T00:00:00.000000000', '2010-07-15T00:00:00.000000000',
       '2010-07-16T00:00:00.000000000', '2010-07-17T00:00:00.000000000',
       '2010-07-18T00:00:00.000000000', '2010-07-19T00:00:00.000000000',
       '2010-07-20T00:00:00.000000000', '2010-07-21T00:00:00.000000000',
       '2010-07-22T00:00:00.000000000', '2010-07-23T00:00:00.000000000',
       '2010-07-24T00:00:00.000000000', '2010-07-25T00:00:00.000000000',
       '2010-07-26T00:00:00.000000000', '2010-07-27T00:00:00.000000000',
       '2010-07-28T00:00:00.000000000', '2010-07-29T00:00:00.000000000',
       '2010-07-30T00:00:00.000000000', '2010-07-31T00:00:00.000000000',
       '2010-08-01T00:00:00.000000000', '2010-08-02T00:00:00.000000000',
       '2010-08-03T00:00:00.000000000', '2010-08-04T00:00:00.000000000',
       '2010-08-05T00:00:00.000000000', '2010-08-06T00:00:00.000000000',
       '2010-08-07T00:00:00.000000000', '2010-08-08T00:00:00.000000000',
       '2010-08-09T00:00:00.000000000', '2010-08-10T00:00:00.000000000',
       '2010-08-11T00:00:00.000000000', '2010-08-12T00:00:00.000000000',
       '2010-08-13T00:00:00.000000000', '2010-08-14T00:00:00.000000000',
       '2010-08-15T00:00:00.000000000', '2010-08-16T00:00:00.000000000',
       '2010-08-17T00:00:00.000000000', '2010-08-18T00:00:00.000000000',
       '2010-08-19T00:00:00.000000000', '2010-08-20T00:00:00.000000000',
       '2010-08-21T00:00:00.000000000', '2010-08-22T00:00:00.000000000',
       '2010-08-23T00:00:00.000000000', '2010-08-24T00:00:00.000000000',
       '2010-08-25T00:00:00.000000000', '2010-08-26T00:00:00.000000000',
       '2010-08-27T00:00:00.000000000', '2010-08-28T00:00:00.000000000',
       '2010-08-29T00:00:00.000000000', '2010-08-30T00:00:00.000000000',
       '2010-08-31T00:00:00.000000000', '2010-09-01T00:00:00.000000000',
       '2010-09-02T00:00:00.000000000', '2010-09-03T00:00:00.000000000',
       '2010-09-04T00:00:00.000000000', '2010-09-05T00:00:00.000000000',
       '2010-09-06T00:00:00.000000000', '2010-09-07T00:00:00.000000000',
       '2010-09-08T00:00:00.000000000', '2010-09-09T00:00:00.000000000',
       '2010-09-10T00:00:00.000000000', '2010-09-11T00:00:00.000000000',
       '2010-09-12T00:00:00.000000000', '2010-09-13T00:00:00.000000000',
       '2010-09-14T00:00:00.000000000', '2010-09-15T00:00:00.000000000',
       '2010-09-16T00:00:00.000000000', '2010-09-17T00:00:00.000000000',
       '2010-09-18T00:00:00.000000000', '2010-09-19T00:00:00.000000000',
       '2010-09-20T00:00:00.000000000', '2010-09-21T00:00:00.000000000',
       '2010-09-22T00:00:00.000000000', '2010-09-23T00:00:00.000000000',
       '2010-09-24T00:00:00.000000000', '2010-09-25T00:00:00.000000000',
       '2010-09-26T00:00:00.000000000', '2010-09-27T00:00:00.000000000',
       '2010-09-28T00:00:00.000000000', '2010-09-29T00:00:00.000000000',
       '2010-09-30T00:00:00.000000000', '2010-10-01T00:00:00.000000000',
       '2010-10-02T00:00:00.000000000', '2010-10-03T00:00:00.000000000',
       '2010-10-04T00:00:00.000000000', '2010-10-05T00:00:00.000000000',
       '2010-10-06T00:00:00.000000000', '2010-10-07T00:00:00.000000000',
       '2010-10-08T00:00:00.000000000', '2010-10-09T00:00:00.000000000',
       '2010-10-10T00:00:00.000000000', '2010-10-11T00:00:00.000000000',
       '2010-10-12T00:00:00.000000000', '2010-10-13T00:00:00.000000000',
       '2010-10-14T00:00:00.000000000', '2010-10-15T00:00:00.000000000',
       '2010-10-16T00:00:00.000000000', '2010-10-17T00:00:00.000000000',
       '2010-10-18T00:00:00.000000000', '2010-10-19T00:00:00.000000000',
       '2010-10-20T00:00:00.000000000', '2010-10-21T00:00:00.000000000',
       '2010-10-22T00:00:00.000000000', '2010-10-23T00:00:00.000000000',
       '2010-10-24T00:00:00.000000000', '2010-10-25T00:00:00.000000000',
       '2010-10-26T00:00:00.000000000', '2010-10-27T00:00:00.000000000',
       '2010-10-28T00:00:00.000000000', '2010-10-29T00:00:00.000000000',
       '2010-10-30T00:00:00.000000000', '2010-10-31T00:00:00.000000000',
       '2010-11-01T00:00:00.000000000', '2010-11-02T00:00:00.000000000',
       '2010-11-03T00:00:00.000000000', '2010-11-04T00:00:00.000000000',
       '2010-11-05T00:00:00.000000000', '2010-11-06T00:00:00.000000000',
       '2010-11-07T00:00:00.000000000', '2010-11-08T00:00:00.000000000',
       '2010-11-09T00:00:00.000000000', '2010-11-10T00:00:00.000000000',
       '2010-11-11T00:00:00.000000000', '2010-11-12T00:00:00.000000000',
       '2010-11-13T00:00:00.000000000', '2010-11-14T00:00:00.000000000',
       '2010-11-15T00:00:00.000000000', '2010-11-16T00:00:00.000000000',
       '2010-11-17T00:00:00.000000000', '2010-11-18T00:00:00.000000000',
       '2010-11-19T00:00:00.000000000', '2010-11-20T00:00:00.000000000',
       '2010-11-21T00:00:00.000000000', '2010-11-22T00:00:00.000000000',
       '2010-11-23T00:00:00.000000000', '2010-11-24T00:00:00.000000000',
       '2010-11-25T00:00:00.000000000', '2010-11-26T00:00:00.000000000',
       '2010-11-27T00:00:00.000000000', '2010-11-28T00:00:00.000000000',
       '2010-11-29T00:00:00.000000000', '2010-11-30T00:00:00.000000000',
       '2010-12-01T00:00:00.000000000', '2010-12-02T00:00:00.000000000',
       '2010-12-03T00:00:00.000000000', '2010-12-04T00:00:00.000000000',
       '2010-12-05T00:00:00.000000000', '2010-12-06T00:00:00.000000000',
       '2010-12-07T00:00:00.000000000', '2010-12-08T00:00:00.000000000',
       '2010-12-09T00:00:00.000000000', '2010-12-10T00:00:00.000000000',
       '2010-12-11T00:00:00.000000000', '2010-12-12T00:00:00.000000000',
       '2010-12-13T00:00:00.000000000', '2010-12-14T00:00:00.000000000',
       '2010-12-15T00:00:00.000000000', '2010-12-16T00:00:00.000000000',
       '2010-12-17T00:00:00.000000000', '2010-12-18T00:00:00.000000000',
       '2010-12-19T00:00:00.000000000', '2010-12-20T00:00:00.000000000',
       '2010-12-21T00:00:00.000000000', '2010-12-22T00:00:00.000000000',
       '2010-12-23T00:00:00.000000000', '2010-12-24T00:00:00.000000000',
       '2010-12-25T00:00:00.000000000', '2010-12-26T00:00:00.000000000',
       '2010-12-27T00:00:00.000000000', '2010-12-28T00:00:00.000000000',
       '2010-12-29T00:00:00.000000000', '2010-12-30T00:00:00.000000000',
       '2010-12-31T00:00:00.000000000'], dtype='datetime64[ns]')

In [318]:
df_from_xls["RANGO_HORARIO"].unique()

array(['DE 00:00 A 00:59', 'DE 1:00 A 1:59', 'DE 2:00 A 2:59',
       'DE 4:00 A 4:59', 'DE 5:00 A 5:59', 'DE 8:00 A 8:59',
       'DE 9:00 A 9:59', 'DE 20:00 A 20:59', 'DE 21:00 A 21:59',
       'DE 6:00 A 6:59', 'DE 11:00 A 11:59', 'DE 12:00 A 12:59',
       'DE 13:00 A 13:59', 'DE 14:00 A 14:59', 'DE 15:00 A 15:59',
       'DE 18:00 A 18:59', 'DE 19:00 A 19:59', 'DE 22:00 A 22:59',
       'DE 16:00 A 16:59', 'DE 17:00 A 17:59', 'DE 23:00 A 23:59',
       'DE 7:00 A 7:59', 'DE 10:00 A 10:59', 'DE 3:00 A 3:59'],
      dtype=object)

In [319]:
df_from_xls["DIA_SEMANA"].unique()

array(['VIERNES', 'SABADO', 'DOMINGO', 'LUNES', 'MARTES', 'MIERCOLES',
       'JUEVES'], dtype=object)

In [320]:
df_from_xls["DISTRITO"].unique()

array(['CHAMARTIN', 'PUENTE DE VALLECAS', 'CHAMBERI', 'RETIRO',
       'SALAMANCA', 'CARABANCHEL', 'CIUDAD LINEAL', 'MONCLOA-ARAVACA',
       'TETUAN', 'VILLA DE VALLECAS', 'MORATALAZ', 'ARGANZUELA',
       'SAN BLAS', 'VILLAVERDE', 'HORTALEZA', 'FUENCARRAL-EL PARDO',
       'VICALVARO', 'USERA', 'LATINA', 'BARAJAS', 'CENTRO'], dtype=object)

In [321]:
df_from_xls["NUM_PERSONAS"].unique()

array([ 1,  7,  2,  3,  4,  5,  9,  6,  8, 18, 13])

In [322]:
df_from_xls["TIPO_ACCIDENTE"].unique()

array(['COLISIÓN DOBLE', 'COLISIÓN MÚLTIPLE', 'CHOQUE CON OBJETO FIJO',
       'CAÍDA MOTOCICLETA', 'ATROPELLO', 'VUELCO', 'CAÍDA CICLOMOTOR',
       'CAÍDA VIAJERO BUS', 'OTRAS CAUSAS', 'CAÍDA BICICLETA'],
      dtype=object)

In [323]:
df_from_xls["TIPO_VEHICULO"].unique()

array(['TURISMO', 'NO ASIGNADO', 'FURGONETA', 'MOTOCICLETA', 'AUTO-TAXI',
       'VARIOS', 'CAMION', 'CICLOMOTOR', 'AUTOBUS-AUTOCAR', 'BICICLETA',
       'AMBULANCIA'], dtype=object)

In [324]:
df_from_xls["TIPO_PERSONA"].unique()

array(['CONDUCTOR', 'VIAJERO', 'TESTIGO', 'PEATON'], dtype=object)

In [325]:
df_from_xls["SEXO"].unique()

array(['HOMBRE', 'MUJER', 'NO ASIGNADO'], dtype=object)

In [326]:
df_from_xls["LESIVIDAD"].unique()

array(['IL', 'HL', 'HG', 'NO ASIGNADA', 'MT'], dtype=object)

In [327]:
df_from_xls["TRAMO_EDAD"].unique()

array(['DE 18 A 20 AÑOS', 'DE 50 A 54 AÑOS', 'DE 40 A 44 AÑOS',
       'DE 25 A 29 AÑOS', 'DE 30 A 34 ANOS', 'DE 21 A 24 AÑOS',
       'DE 35 A 39 AÑOS', 'DE 60 A 64 AÑOS', 'DE 45 A 49 AÑOS',
       'DE 0 A 5 AÑOS', 'DESCONOCIDA', 'DE 70 A 74 AÑOS',
       'DE MAS DE 74 AÑOS', 'DE 10 A 14 AÑOS', 'DE 6 A 9 AÑOS',
       'DE 55 A 59 AÑOS', 'DE 65 A 69 AÑOS', 'DE 15 A 17 AÑOS'],
      dtype=object)

In [328]:
df_from_xls['BORRAR'], df_from_xls['RESTO_RANGO_HORARIO'] = df_from_xls['RANGO_HORARIO'].str.split(' ', 1).str

In [329]:
df_from_xls.columns

Index(['FECHA', 'RANGO_HORARIO', 'DIA_SEMANA', 'DISTRITO', 'NUM_PERSONAS',
       'TIPO_ACCIDENTE', 'TIPO_VEHICULO', 'TIPO_PERSONA', 'SEXO', 'LESIVIDAD',
       'TRAMO_EDAD', 'BORRAR', 'RESTO_RANGO_HORARIO'],
      dtype='object')

In [330]:
df_from_xls.head()

,FECHA,RANGO_HORARIO,DIA_SEMANA,DISTRITO,NUM_PERSONAS,TIPO_ACCIDENTE,TIPO_VEHICULO,TIPO_PERSONA,SEXO,LESIVIDAD,TRAMO_EDAD,BORRAR,RESTO_RANGO_HORARIO
0,2010-01-01,DE 00:00 A 00:59,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 18 A 20 AÑOS,DE,00:00 A 00:59
1,2010-01-01,DE 00:00 A 00:59,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 50 A 54 AÑOS,DE,00:00 A 00:59
2,2010-01-01,DE 00:00 A 00:59,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,HL,DE 40 A 44 AÑOS,DE,00:00 A 00:59
3,2010-01-01,DE 1:00 A 1:59,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,DE 25 A 29 AÑOS,DE,1:00 A 1:59
4,2010-01-01,DE 1:00 A 1:59,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,DE 30 A 34 ANOS,DE,1:00 A 1:59

In [331]:
# borrar columnas sobrantes:
del df_from_xls['BORRAR']

In [332]:
df_from_xls.head()

,FECHA,RANGO_HORARIO,DIA_SEMANA,DISTRITO,NUM_PERSONAS,TIPO_ACCIDENTE,TIPO_VEHICULO,TIPO_PERSONA,SEXO,LESIVIDAD,TRAMO_EDAD,RESTO_RANGO_HORARIO
0,2010-01-01,DE 00:00 A 00:59,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 18 A 20 AÑOS,00:00 A 00:59
1,2010-01-01,DE 00:00 A 00:59,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 50 A 54 AÑOS,00:00 A 00:59
2,2010-01-01,DE 00:00 A 00:59,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,HL,DE 40 A 44 AÑOS,00:00 A 00:59
3,2010-01-01,DE 1:00 A 1:59,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,DE 25 A 29 AÑOS,1:00 A 1:59
4,2010-01-01,DE 1:00 A 1:59,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,DE 30 A 34 ANOS,1:00 A 1:59

In [333]:
df_from_xls['HORA'], df_from_xls['BORRAR'] = df_from_xls['RESTO_RANGO_HORARIO'].str.split(' ', 1).str

In [334]:
df_from_xls.columns

Index(['FECHA', 'RANGO_HORARIO', 'DIA_SEMANA', 'DISTRITO', 'NUM_PERSONAS',
       'TIPO_ACCIDENTE', 'TIPO_VEHICULO', 'TIPO_PERSONA', 'SEXO', 'LESIVIDAD',
       'TRAMO_EDAD', 'RESTO_RANGO_HORARIO', 'HORA', 'BORRAR'],
      dtype='object')

In [335]:
df_from_xls.head()

,FECHA,RANGO_HORARIO,DIA_SEMANA,DISTRITO,NUM_PERSONAS,TIPO_ACCIDENTE,TIPO_VEHICULO,TIPO_PERSONA,SEXO,LESIVIDAD,TRAMO_EDAD,RESTO_RANGO_HORARIO,HORA,BORRAR
0,2010-01-01,DE 00:00 A 00:59,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 18 A 20 AÑOS,00:00 A 00:59,00:00,A 00:59
1,2010-01-01,DE 00:00 A 00:59,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 50 A 54 AÑOS,00:00 A 00:59,00:00,A 00:59
2,2010-01-01,DE 00:00 A 00:59,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,HL,DE 40 A 44 AÑOS,00:00 A 00:59,00:00,A 00:59
3,2010-01-01,DE 1:00 A 1:59,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,DE 25 A 29 AÑOS,1:00 A 1:59,1:00,A 1:59
4,2010-01-01,DE 1:00 A 1:59,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,DE 30 A 34 ANOS,1:00 A 1:59,1:00,A 1:59

In [336]:
# borrar columnas sobrantes:
del df_from_xls['RANGO_HORARIO']
del df_from_xls['RESTO_RANGO_HORARIO']
del df_from_xls['BORRAR']

In [337]:
df_from_xls.head()

,FECHA,DIA_SEMANA,DISTRITO,NUM_PERSONAS,TIPO_ACCIDENTE,TIPO_VEHICULO,TIPO_PERSONA,SEXO,LESIVIDAD,TRAMO_EDAD,HORA
0,2010-01-01,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 18 A 20 AÑOS,00:00
1,2010-01-01,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,DE 50 A 54 AÑOS,00:00
2,2010-01-01,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,HL,DE 40 A 44 AÑOS,00:00
3,2010-01-01,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,DE 25 A 29 AÑOS,1:00
4,2010-01-01,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,DE 30 A 34 ANOS,1:00

In [338]:
df_from_xls.columns

Index(['FECHA', 'DIA_SEMANA', 'DISTRITO', 'NUM_PERSONAS', 'TIPO_ACCIDENTE',
       'TIPO_VEHICULO', 'TIPO_PERSONA', 'SEXO', 'LESIVIDAD', 'TRAMO_EDAD',
       'HORA'],
      dtype='object')

In [339]:
# Comprobar valores nulos
df_from_xls.isnull().sum()

FECHA             0
DIA_SEMANA        0
DISTRITO          0
NUM_PERSONAS      0
TIPO_ACCIDENTE    0
TIPO_VEHICULO     0
TIPO_PERSONA      0
SEXO              0
LESIVIDAD         0
TRAMO_EDAD        0
HORA              0
dtype: int64

In [340]:
df_from_xls["TRAMO_EDAD"].unique()

array(['DE 18 A 20 AÑOS', 'DE 50 A 54 AÑOS', 'DE 40 A 44 AÑOS',
       'DE 25 A 29 AÑOS', 'DE 30 A 34 ANOS', 'DE 21 A 24 AÑOS',
       'DE 35 A 39 AÑOS', 'DE 60 A 64 AÑOS', 'DE 45 A 49 AÑOS',
       'DE 0 A 5 AÑOS', 'DESCONOCIDA', 'DE 70 A 74 AÑOS',
       'DE MAS DE 74 AÑOS', 'DE 10 A 14 AÑOS', 'DE 6 A 9 AÑOS',
       'DE 55 A 59 AÑOS', 'DE 65 A 69 AÑOS', 'DE 15 A 17 AÑOS'],
      dtype=object)

In [341]:
df_from_xls['BORRAR'], df_from_xls['EDAD'] = df_from_xls['TRAMO_EDAD'].str.split(' ', 1).str

In [342]:
df_from_xls["EDAD"].unique()

array(['18 A 20 AÑOS', '50 A 54 AÑOS', '40 A 44 AÑOS', '25 A 29 AÑOS',
       '30 A 34 ANOS', '21 A 24 AÑOS', '35 A 39 AÑOS', '60 A 64 AÑOS',
       '45 A 49 AÑOS', '0 A 5 AÑOS', nan, '70 A 74 AÑOS',
       'MAS DE 74 AÑOS', '10 A 14 AÑOS', '6 A 9 AÑOS', '55 A 59 AÑOS',
       '65 A 69 AÑOS', '15 A 17 AÑOS'], dtype=object)

In [343]:
# Comprobar valores nulos
df_from_xls.isnull().sum()

FECHA                0
DIA_SEMANA           0
DISTRITO             0
NUM_PERSONAS         0
TIPO_ACCIDENTE       0
TIPO_VEHICULO        0
TIPO_PERSONA         0
SEXO                 0
LESIVIDAD            0
TRAMO_EDAD           0
HORA                 0
BORRAR               0
EDAD              2344
dtype: int64

In [344]:
# borrar columnas sobrantes:
del df_from_xls['BORRAR']
del df_from_xls['TRAMO_EDAD']

In [345]:
df_from_xls['TRAMO_EDAD'], df_from_xls['BORRAR'] = df_from_xls['EDAD'].str.split(' ', 1).str

In [346]:
df_from_xls["TRAMO_EDAD"].unique()

array(['18', '50', '40', '25', '30', '21', '35', '60', '45', '0', nan,
       '70', 'MAS', '10', '6', '55', '65', '15'], dtype=object)

In [347]:
# Comprobar valores nulos
df_from_xls.isnull().sum()

FECHA                0
DIA_SEMANA           0
DISTRITO             0
NUM_PERSONAS         0
TIPO_ACCIDENTE       0
TIPO_VEHICULO        0
TIPO_PERSONA         0
SEXO                 0
LESIVIDAD            0
HORA                 0
EDAD              2344
TRAMO_EDAD        2344
BORRAR            2344
dtype: int64

In [348]:
# borrar columnas sobrantes:
del df_from_xls['EDAD']
del df_from_xls['BORRAR']

In [349]:
# Comprobar valores nulos
df_from_xls.isnull().sum()

FECHA                0
DIA_SEMANA           0
DISTRITO             0
NUM_PERSONAS         0
TIPO_ACCIDENTE       0
TIPO_VEHICULO        0
TIPO_PERSONA         0
SEXO                 0
LESIVIDAD            0
HORA                 0
TRAMO_EDAD        2344
dtype: int64

In [350]:
df_from_xls["TRAMO_EDAD"].unique()

array(['18', '50', '40', '25', '30', '21', '35', '60', '45', '0', nan,
       '70', 'MAS', '10', '6', '55', '65', '15'], dtype=object)

In [351]:
df_from_xls["TRAMO_EDAD"] = df_from_xls["TRAMO_EDAD"].replace({"MAS":74}, regex=True)

In [352]:
df_from_xls["TRAMO_EDAD"].unique()

array(['18', '50', '40', '25', '30', '21', '35', '60', '45', '0', nan,
       '70', 74, '10', '6', '55', '65', '15'], dtype=object)

In [353]:
df_from_xls["TRAMO_EDAD"].fillna("NO_ASIGNADO", inplace=True)

In [354]:
df_from_xls["TRAMO_EDAD"].unique()

array(['18', '50', '40', '25', '30', '21', '35', '60', '45', '0',
       'NO_ASIGNADO', '70', 74, '10', '6', '55', '65', '15'], dtype=object)

In [355]:
# Comprobar valores nulos
df_from_xls.isnull().sum()

FECHA             0
DIA_SEMANA        0
DISTRITO          0
NUM_PERSONAS      0
TIPO_ACCIDENTE    0
TIPO_VEHICULO     0
TIPO_PERSONA      0
SEXO              0
LESIVIDAD         0
HORA              0
TRAMO_EDAD        0
dtype: int64

In [356]:
df_from_xls["FECHA"] = pd.to_datetime(pd.Series(df_from_xls["FECHA"]), format="%m/%d/%Y")

In [357]:
df_from_xls["FECHA"][0]

Timestamp('2010-01-01 00:00:00')

In [358]:
df_from_xls.dtypes

FECHA             datetime64[ns]
DIA_SEMANA                object
DISTRITO                  object
NUM_PERSONAS               int64
TIPO_ACCIDENTE            object
TIPO_VEHICULO             object
TIPO_PERSONA              object
SEXO                      object
LESIVIDAD                 object
HORA                      object
TRAMO_EDAD                object
dtype: object

In [359]:
df_from_xls["FECHA"].unique()

array(['2010-01-01T00:00:00.000000000', '2010-01-02T00:00:00.000000000',
       '2010-01-03T00:00:00.000000000', '2010-01-04T00:00:00.000000000',
       '2010-01-05T00:00:00.000000000', '2010-01-06T00:00:00.000000000',
       '2010-01-07T00:00:00.000000000', '2010-01-08T00:00:00.000000000',
       '2010-01-09T00:00:00.000000000', '2010-01-10T00:00:00.000000000',
       '2010-01-11T00:00:00.000000000', '2010-01-12T00:00:00.000000000',
       '2010-01-13T00:00:00.000000000', '2010-01-14T00:00:00.000000000',
       '2010-01-15T00:00:00.000000000', '2010-01-16T00:00:00.000000000',
       '2010-01-17T00:00:00.000000000', '2010-01-18T00:00:00.000000000',
       '2010-01-19T00:00:00.000000000', '2010-01-20T00:00:00.000000000',
       '2010-01-21T00:00:00.000000000', '2010-01-22T00:00:00.000000000',
       '2010-01-23T00:00:00.000000000', '2010-01-24T00:00:00.000000000',
       '2010-01-25T00:00:00.000000000', '2010-01-26T00:00:00.000000000',
       '2010-01-27T00:00:00.000000000', '2010-01-28T00:00:00.000000000',
       '2010-01-29T00:00:00.000000000', '2010-01-30T00:00:00.000000000',
       '2010-01-31T00:00:00.000000000', '2010-02-01T00:00:00.000000000',
       '2010-02-02T00:00:00.000000000', '2010-02-03T00:00:00.000000000',
       '2010-02-04T00:00:00.000000000', '2010-02-05T00:00:00.000000000',
       '2010-02-06T00:00:00.000000000', '2010-02-07T00:00:00.000000000',
       '2010-02-08T00:00:00.000000000', '2010-02-09T00:00:00.000000000',
       '2010-02-10T00:00:00.000000000', '2010-02-11T00:00:00.000000000',
       '2010-02-12T00:00:00.000000000', '2010-02-13T00:00:00.000000000',
       '2010-02-14T00:00:00.000000000', '2010-02-15T00:00:00.000000000',
       '2010-02-16T00:00:00.000000000', '2010-02-17T00:00:00.000000000',
       '2010-02-18T00:00:00.000000000', '2010-02-19T00:00:00.000000000',
       '2010-02-20T00:00:00.000000000', '2010-02-21T00:00:00.000000000',
       '2010-02-22T00:00:00.000000000', '2010-02-23T00:00:00.000000000',
       '2010-02-24T00:00:00.000000000', '2010-02-25T00:00:00.000000000',
       '2010-02-26T00:00:00.000000000', '2010-02-27T00:00:00.000000000',
       '2010-02-28T00:00:00.000000000', '2010-03-01T00:00:00.000000000',
       '2010-03-02T00:00:00.000000000', '2010-03-03T00:00:00.000000000',
       '2010-03-04T00:00:00.000000000', '2010-03-05T00:00:00.000000000',
       '2010-03-06T00:00:00.000000000', '2010-03-07T00:00:00.000000000',
       '2010-03-08T00:00:00.000000000', '2010-03-09T00:00:00.000000000',
       '2010-03-10T00:00:00.000000000', '2010-03-11T00:00:00.000000000',
       '2010-03-12T00:00:00.000000000', '2010-03-13T00:00:00.000000000',
       '2010-03-14T00:00:00.000000000', '2010-03-15T00:00:00.000000000',
       '2010-03-16T00:00:00.000000000', '2010-03-17T00:00:00.000000000',
       '2010-03-18T00:00:00.000000000', '2010-03-19T00:00:00.000000000',
       '2010-03-20T00:00:00.000000000', '2010-03-21T00:00:00.000000000',
       '2010-03-22T00:00:00.000000000', '2010-03-23T00:00:00.000000000',
       '2010-03-24T00:00:00.000000000', '2010-03-25T00:00:00.000000000',
       '2010-03-26T00:00:00.000000000', '2010-03-27T00:00:00.000000000',
       '2010-03-28T00:00:00.000000000', '2010-03-29T00:00:00.000000000',
       '2010-03-30T00:00:00.000000000', '2010-03-31T00:00:00.000000000',
       '2010-04-01T00:00:00.000000000', '2010-04-02T00:00:00.000000000',
       '2010-04-03T00:00:00.000000000', '2010-04-04T00:00:00.000000000',
       '2010-04-05T00:00:00.000000000', '2010-04-06T00:00:00.000000000',
       '2010-04-07T00:00:00.000000000', '2010-04-08T00:00:00.000000000',
       '2010-04-09T00:00:00.000000000', '2010-04-10T00:00:00.000000000',
       '2010-04-11T00:00:00.000000000', '2010-04-12T00:00:00.000000000',
       '2010-04-13T00:00:00.000000000', '2010-04-14T00:00:00.000000000',
       '2010-04-15T00:00:00.000000000', '2010-04-16T00:00:00.000000000',
       '2010-04-17T00:00:00.000000000', '2010-04-18T00:00:00.000000000',
       '2010-04-19T00:00:00.000000000', '2010-04-20T00:00:00.000000000',
       '2010-04-21T00:00:00.000000000', '2010-04-22T00:00:00.000000000',
       '2010-04-23T00:00:00.000000000', '2010-04-24T00:00:00.000000000',
       '2010-04-25T00:00:00.000000000', '2010-04-26T00:00:00.000000000',
       '2010-04-27T00:00:00.000000000', '2010-04-28T00:00:00.000000000',
       '2010-04-29T00:00:00.000000000', '2010-04-30T00:00:00.000000000',
       '2010-05-01T00:00:00.000000000', '2010-05-02T00:00:00.000000000',
       '2010-05-03T00:00:00.000000000', '2010-05-04T00:00:00.000000000',
       '2010-05-05T00:00:00.000000000', '2010-05-06T00:00:00.000000000',
       '2010-05-07T00:00:00.000000000', '2010-05-08T00:00:00.000000000',
       '2010-05-09T00:00:00.000000000', '2010-05-10T00:00:00.000000000',
       '2010-05-11T00:00:00.000000000', '2010-05-12T00:00:00.000000000',
       '2010-05-13T00:00:00.000000000', '2010-05-14T00:00:00.000000000',
       '2010-05-15T00:00:00.000000000', '2010-05-16T00:00:00.000000000',
       '2010-05-17T00:00:00.000000000', '2010-05-18T00:00:00.000000000',
       '2010-05-19T00:00:00.000000000', '2010-05-20T00:00:00.000000000',
       '2010-05-21T00:00:00.000000000', '2010-05-22T00:00:00.000000000',
       '2010-05-23T00:00:00.000000000', '2010-05-24T00:00:00.000000000',
       '2010-05-25T00:00:00.000000000', '2010-05-26T00:00:00.000000000',
       '2010-05-27T00:00:00.000000000', '2010-05-28T00:00:00.000000000',
       '2010-05-29T00:00:00.000000000', '2010-05-30T00:00:00.000000000',
       '2010-05-31T00:00:00.000000000', '2010-06-01T00:00:00.000000000',
       '2010-06-02T00:00:00.000000000', '2010-06-03T00:00:00.000000000',
       '2010-06-04T00:00:00.000000000', '2010-06-05T00:00:00.000000000',
       '2010-06-06T00:00:00.000000000', '2010-06-07T00:00:00.000000000',
       '2010-06-08T00:00:00.000000000', '2010-06-09T00:00:00.000000000',
       '2010-06-10T00:00:00.000000000', '2010-06-11T00:00:00.000000000',
       '2010-06-12T00:00:00.000000000', '2010-06-13T00:00:00.000000000',
       '2010-06-14T00:00:00.000000000', '2010-06-15T00:00:00.000000000',
       '2010-06-16T00:00:00.000000000', '2010-06-17T00:00:00.000000000',
       '2010-06-18T00:00:00.000000000', '2010-06-19T00:00:00.000000000',
       '2010-06-20T00:00:00.000000000', '2010-06-21T00:00:00.000000000',
       '2010-06-22T00:00:00.000000000', '2010-06-23T00:00:00.000000000',
       '2010-06-24T00:00:00.000000000', '2010-06-25T00:00:00.000000000',
       '2010-06-26T00:00:00.000000000', '2010-06-27T00:00:00.000000000',
       '2010-06-28T00:00:00.000000000', '2010-06-29T00:00:00.000000000',
       '2010-06-30T00:00:00.000000000', '2010-07-01T00:00:00.000000000',
       '2010-07-02T00:00:00.000000000', '2010-07-03T00:00:00.000000000',
       '2010-07-04T00:00:00.000000000', '2010-07-05T00:00:00.000000000',
       '2010-07-06T00:00:00.000000000', '2010-07-07T00:00:00.000000000',
       '2010-07-08T00:00:00.000000000', '2010-07-09T00:00:00.000000000',
       '2010-07-10T00:00:00.000000000', '2010-07-11T00:00:00.000000000',
       '2010-07-12T00:00:00.000000000', '2010-07-13T00:00:00.000000000',
       '2010-07-14T00:00:00.000000000', '2010-07-15T00:00:00.000000000',
       '2010-07-16T00:00:00.000000000', '2010-07-17T00:00:00.000000000',
       '2010-07-18T00:00:00.000000000', '2010-07-19T00:00:00.000000000',
       '2010-07-20T00:00:00.000000000', '2010-07-21T00:00:00.000000000',
       '2010-07-22T00:00:00.000000000', '2010-07-23T00:00:00.000000000',
       '2010-07-24T00:00:00.000000000', '2010-07-25T00:00:00.000000000',
       '2010-07-26T00:00:00.000000000', '2010-07-27T00:00:00.000000000',
       '2010-07-28T00:00:00.000000000', '2010-07-29T00:00:00.000000000',
       '2010-07-30T00:00:00.000000000', '2010-07-31T00:00:00.000000000',
       '2010-08-01T00:00:00.000000000', '2010-08-02T00:00:00.000000000',
       '2010-08-03T00:00:00.000000000', '2010-08-04T00:00:00.000000000',
       '2010-08-05T00:00:00.000000000', '2010-08-06T00:00:00.000000000',
       '2010-08-07T00:00:00.000000000', '2010-08-08T00:00:00.000000000',
       '2010-08-09T00:00:00.000000000', '2010-08-10T00:00:00.000000000',
       '2010-08-11T00:00:00.000000000', '2010-08-12T00:00:00.000000000',
       '2010-08-13T00:00:00.000000000', '2010-08-14T00:00:00.000000000',
       '2010-08-15T00:00:00.000000000', '2010-08-16T00:00:00.000000000',
       '2010-08-17T00:00:00.000000000', '2010-08-18T00:00:00.000000000',
       '2010-08-19T00:00:00.000000000', '2010-08-20T00:00:00.000000000',
       '2010-08-21T00:00:00.000000000', '2010-08-22T00:00:00.000000000',
       '2010-08-23T00:00:00.000000000', '2010-08-24T00:00:00.000000000',
       '2010-08-25T00:00:00.000000000', '2010-08-26T00:00:00.000000000',
       '2010-08-27T00:00:00.000000000', '2010-08-28T00:00:00.000000000',
       '2010-08-29T00:00:00.000000000', '2010-08-30T00:00:00.000000000',
       '2010-08-31T00:00:00.000000000', '2010-09-01T00:00:00.000000000',
       '2010-09-02T00:00:00.000000000', '2010-09-03T00:00:00.000000000',
       '2010-09-04T00:00:00.000000000', '2010-09-05T00:00:00.000000000',
       '2010-09-06T00:00:00.000000000', '2010-09-07T00:00:00.000000000',
       '2010-09-08T00:00:00.000000000', '2010-09-09T00:00:00.000000000',
       '2010-09-10T00:00:00.000000000', '2010-09-11T00:00:00.000000000',
       '2010-09-12T00:00:00.000000000', '2010-09-13T00:00:00.000000000',
       '2010-09-14T00:00:00.000000000', '2010-09-15T00:00:00.000000000',
       '2010-09-16T00:00:00.000000000', '2010-09-17T00:00:00.000000000',
       '2010-09-18T00:00:00.000000000', '2010-09-19T00:00:00.000000000',
       '2010-09-20T00:00:00.000000000', '2010-09-21T00:00:00.000000000',
       '2010-09-22T00:00:00.000000000', '2010-09-23T00:00:00.000000000',
       '2010-09-24T00:00:00.000000000', '2010-09-25T00:00:00.000000000',
       '2010-09-26T00:00:00.000000000', '2010-09-27T00:00:00.000000000',
       '2010-09-28T00:00:00.000000000', '2010-09-29T00:00:00.000000000',
       '2010-09-30T00:00:00.000000000', '2010-10-01T00:00:00.000000000',
       '2010-10-02T00:00:00.000000000', '2010-10-03T00:00:00.000000000',
       '2010-10-04T00:00:00.000000000', '2010-10-05T00:00:00.000000000',
       '2010-10-06T00:00:00.000000000', '2010-10-07T00:00:00.000000000',
       '2010-10-08T00:00:00.000000000', '2010-10-09T00:00:00.000000000',
       '2010-10-10T00:00:00.000000000', '2010-10-11T00:00:00.000000000',
       '2010-10-12T00:00:00.000000000', '2010-10-13T00:00:00.000000000',
       '2010-10-14T00:00:00.000000000', '2010-10-15T00:00:00.000000000',
       '2010-10-16T00:00:00.000000000', '2010-10-17T00:00:00.000000000',
       '2010-10-18T00:00:00.000000000', '2010-10-19T00:00:00.000000000',
       '2010-10-20T00:00:00.000000000', '2010-10-21T00:00:00.000000000',
       '2010-10-22T00:00:00.000000000', '2010-10-23T00:00:00.000000000',
       '2010-10-24T00:00:00.000000000', '2010-10-25T00:00:00.000000000',
       '2010-10-26T00:00:00.000000000', '2010-10-27T00:00:00.000000000',
       '2010-10-28T00:00:00.000000000', '2010-10-29T00:00:00.000000000',
       '2010-10-30T00:00:00.000000000', '2010-10-31T00:00:00.000000000',
       '2010-11-01T00:00:00.000000000', '2010-11-02T00:00:00.000000000',
       '2010-11-03T00:00:00.000000000', '2010-11-04T00:00:00.000000000',
       '2010-11-05T00:00:00.000000000', '2010-11-06T00:00:00.000000000',
       '2010-11-07T00:00:00.000000000', '2010-11-08T00:00:00.000000000',
       '2010-11-09T00:00:00.000000000', '2010-11-10T00:00:00.000000000',
       '2010-11-11T00:00:00.000000000', '2010-11-12T00:00:00.000000000',
       '2010-11-13T00:00:00.000000000', '2010-11-14T00:00:00.000000000',
       '2010-11-15T00:00:00.000000000', '2010-11-16T00:00:00.000000000',
       '2010-11-17T00:00:00.000000000', '2010-11-18T00:00:00.000000000',
       '2010-11-19T00:00:00.000000000', '2010-11-20T00:00:00.000000000',
       '2010-11-21T00:00:00.000000000', '2010-11-22T00:00:00.000000000',
       '2010-11-23T00:00:00.000000000', '2010-11-24T00:00:00.000000000',
       '2010-11-25T00:00:00.000000000', '2010-11-26T00:00:00.000000000',
       '2010-11-27T00:00:00.000000000', '2010-11-28T00:00:00.000000000',
       '2010-11-29T00:00:00.000000000', '2010-11-30T00:00:00.000000000',
       '2010-12-01T00:00:00.000000000', '2010-12-02T00:00:00.000000000',
       '2010-12-03T00:00:00.000000000', '2010-12-04T00:00:00.000000000',
       '2010-12-05T00:00:00.000000000', '2010-12-06T00:00:00.000000000',
       '2010-12-07T00:00:00.000000000', '2010-12-08T00:00:00.000000000',
       '2010-12-09T00:00:00.000000000', '2010-12-10T00:00:00.000000000',
       '2010-12-11T00:00:00.000000000', '2010-12-12T00:00:00.000000000',
       '2010-12-13T00:00:00.000000000', '2010-12-14T00:00:00.000000000',
       '2010-12-15T00:00:00.000000000', '2010-12-16T00:00:00.000000000',
       '2010-12-17T00:00:00.000000000', '2010-12-18T00:00:00.000000000',
       '2010-12-19T00:00:00.000000000', '2010-12-20T00:00:00.000000000',
       '2010-12-21T00:00:00.000000000', '2010-12-22T00:00:00.000000000',
       '2010-12-23T00:00:00.000000000', '2010-12-24T00:00:00.000000000',
       '2010-12-25T00:00:00.000000000', '2010-12-26T00:00:00.000000000',
       '2010-12-27T00:00:00.000000000', '2010-12-28T00:00:00.000000000',
       '2010-12-29T00:00:00.000000000', '2010-12-30T00:00:00.000000000',
       '2010-12-31T00:00:00.000000000'], dtype='datetime64[ns]')

In [360]:
df_from_xls["FECHA"].dtype

dtype('<M8[ns]')

In [361]:
df_from_xls["DIA_SEMANA"].unique()

array(['VIERNES', 'SABADO', 'DOMINGO', 'LUNES', 'MARTES', 'MIERCOLES',
       'JUEVES'], dtype=object)

In [362]:
df_from_xls["DIA_SEMANA"].fillna("NO_ASIGNADO", inplace=True)

In [363]:
df_from_xls["DISTRITO"].unique()

array(['CHAMARTIN', 'PUENTE DE VALLECAS', 'CHAMBERI', 'RETIRO',
       'SALAMANCA', 'CARABANCHEL', 'CIUDAD LINEAL', 'MONCLOA-ARAVACA',
       'TETUAN', 'VILLA DE VALLECAS', 'MORATALAZ', 'ARGANZUELA',
       'SAN BLAS', 'VILLAVERDE', 'HORTALEZA', 'FUENCARRAL-EL PARDO',
       'VICALVARO', 'USERA', 'LATINA', 'BARAJAS', 'CENTRO'], dtype=object)

In [364]:
df_from_xls["DISTRITO"].fillna("NO_ASIGNADO", inplace=True)

In [365]:
df_from_xls["NUM_PERSONAS"].unique()

array([ 1,  7,  2,  3,  4,  5,  9,  6,  8, 18, 13])

In [366]:
df_from_xls["NUM_PERSONAS"].fillna("NO_ASIGNADO", inplace=True)

In [367]:
df_from_xls["TIPO_ACCIDENTE"].unique()

array(['COLISIÓN DOBLE', 'COLISIÓN MÚLTIPLE', 'CHOQUE CON OBJETO FIJO',
       'CAÍDA MOTOCICLETA', 'ATROPELLO', 'VUELCO', 'CAÍDA CICLOMOTOR',
       'CAÍDA VIAJERO BUS', 'OTRAS CAUSAS', 'CAÍDA BICICLETA'],
      dtype=object)

In [368]:
df_from_xls["TIPO_ACCIDENTE"].fillna("NO_ASIGNADO", inplace=True)

In [369]:
df_from_xls["TIPO_VEHICULO"].unique()

array(['TURISMO', 'NO ASIGNADO', 'FURGONETA', 'MOTOCICLETA', 'AUTO-TAXI',
       'VARIOS', 'CAMION', 'CICLOMOTOR', 'AUTOBUS-AUTOCAR', 'BICICLETA',
       'AMBULANCIA'], dtype=object)

In [370]:
df_from_xls["TIPO_VEHICULO"].fillna("NO_ASIGNADO", inplace=True)

In [371]:
df_from_xls["TIPO_PERSONA"].unique()

array(['CONDUCTOR', 'VIAJERO', 'TESTIGO', 'PEATON'], dtype=object)

In [372]:
df_from_xls["TIPO_PERSONA"].fillna("NO_ASIGNADO", inplace=True)

In [373]:
df_from_xls["SEXO"].unique()

array(['HOMBRE', 'MUJER', 'NO ASIGNADO'], dtype=object)

In [374]:
df_from_xls["SEXO"].fillna("NO ASIGNADO", inplace=True)

In [375]:
df_from_xls["LESIVIDAD"].unique()

array(['IL', 'HL', 'HG', 'NO ASIGNADA', 'MT'], dtype=object)

In [376]:
df_from_xls["LESIVIDAD"].fillna("NO ASIGNADA", inplace=True)

In [377]:
df_from_xls["HORA"].unique()

array(['00:00', '1:00', '2:00', '4:00', '5:00', '8:00', '9:00', '20:00',
       '21:00', '6:00', '11:00', '12:00', '13:00', '14:00', '15:00',
       '18:00', '19:00', '22:00', '16:00', '17:00', '23:00', '7:00',
       '10:00', '3:00'], dtype=object)

In [378]:
df_from_xls["HORA"].fillna("NO_ASIGNADO", inplace=True)

In [379]:
df_from_xls["TRAMO_EDAD"].unique()

array(['18', '50', '40', '25', '30', '21', '35', '60', '45', '0',
       'NO_ASIGNADO', '70', 74, '10', '6', '55', '65', '15'], dtype=object)

In [380]:
df_from_xls["TRAMO_EDAD"].fillna("NO_ASIGNADO", inplace=True)

In [381]:
df_from_xls.head()

,FECHA,DIA_SEMANA,DISTRITO,NUM_PERSONAS,TIPO_ACCIDENTE,TIPO_VEHICULO,TIPO_PERSONA,SEXO,LESIVIDAD,HORA,TRAMO_EDAD
0,2010-01-01,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,00:00,18
1,2010-01-01,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,00:00,50
2,2010-01-01,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,HL,00:00,40
3,2010-01-01,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,1:00,25
4,2010-01-01,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,1:00,30

In [382]:
df_from_xls.columns

Index(['FECHA', 'DIA_SEMANA', 'DISTRITO', 'NUM_PERSONAS', 'TIPO_ACCIDENTE',
       'TIPO_VEHICULO', 'TIPO_PERSONA', 'SEXO', 'LESIVIDAD', 'HORA',
       'TRAMO_EDAD'],
      dtype='object')

In [383]:
ordenar_columnas = df_from_xls.columns.tolist()
ordenar_columnas

['FECHA',
 'DIA_SEMANA',
 'DISTRITO',
 'NUM_PERSONAS',
 'TIPO_ACCIDENTE',
 'TIPO_VEHICULO',
 'TIPO_PERSONA',
 'SEXO',
 'LESIVIDAD',
 'HORA',
 'TRAMO_EDAD']

In [384]:
ordenar_columnas = ordenar_columnas[0:1] + ordenar_columnas[-2:-1] + \
ordenar_columnas[1:-2] + ordenar_columnas[-1:]
ordenar_columnas

['FECHA',
 'HORA',
 'DIA_SEMANA',
 'DISTRITO',
 'NUM_PERSONAS',
 'TIPO_ACCIDENTE',
 'TIPO_VEHICULO',
 'TIPO_PERSONA',
 'SEXO',
 'LESIVIDAD',
 'TRAMO_EDAD']

In [385]:
df_from_xls = df_from_xls[ordenar_columnas]
df_from_xls

,FECHA,HORA,DIA_SEMANA,DISTRITO,NUM_PERSONAS,TIPO_ACCIDENTE,TIPO_VEHICULO,TIPO_PERSONA,SEXO,LESIVIDAD,TRAMO_EDAD
0,2010-01-01,00:00,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,18
1,2010-01-01,00:00,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,50
2,2010-01-01,00:00,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,HL,40
3,2010-01-01,1:00,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,25
4,2010-01-01,1:00,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,30
5,2010-01-01,1:00,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,25
6,2010-01-01,1:00,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,25
7,2010-01-01,1:00,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,TURISMO,CONDUCTOR,HOMBRE,IL,25
8,2010-01-01,1:00,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,TURISMO,CONDUCTOR,MUJER,HL,25
9,2010-01-01,1:00,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,TURISMO,VIAJERO,MUJER,HL,21
10,2010-01-01,1:00,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,FURGONETA,CONDUCTOR,HOMBRE,HL,25
11,2010-01-01,2:00,VIERNES,CHAMBERI,1,COLISIÓN DOBLE,MOTOCICLETA,CONDUCTOR,HOMBRE,HL,35
12,2010-01-01,2:00,VIERNES,CHAMBERI,1,COLISIÓN DOBLE,AUTO-TAXI,CONDUCTOR,HOMBRE,IL,35
13,2010-01-01,4:00,VIERNES,RETIRO,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,TESTIGO,HOMBRE,IL,25
14,2010-01-01,4:00,VIERNES,RETIRO,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,TESTIGO,HOMBRE,IL,30
15,2010-01-01,4:00,VIERNES,RETIRO,7,COLISIÓN MÚLTIPLE,TURISMO,CONDUCTOR,HOMBRE,HL,25
16,2010-01-01,4:00,VIERNES,RETIRO,7,COLISIÓN MÚLTIPLE,TURISMO,VIAJERO,HOMBRE,IL,30
17,2010-01-01,4:00,VIERNES,RETIRO,7,COLISIÓN MÚLTIPLE,TURISMO,VIAJERO,MUJER,IL,18
18,2010-01-01,4:00,VIERNES,RETIRO,7,COLISIÓN MÚLTIPLE,TURISMO,VIAJERO,MUJER,HG,21
19,2010-01-01,4:00,VIERNES,RETIRO,7,COLISIÓN MÚLTIPLE,TURISMO,VIAJERO,MUJER,HL,21
20,2010-01-01,4:00,VIERNES,RETIRO,7,COLISIÓN MÚLTIPLE,MOTOCICLETA,CONDUCTOR,HOMBRE,HL,30
21,2010-01-01,4:00,VIERNES,RETIRO,7,COLISIÓN MÚLTIPLE,VARIOS,CONDUCTOR,HOMBRE,HL,18
22,2010-01-01,4:00,VIERNES,RETIRO,7,COLISIÓN MÚLTIPLE,VARIOS,VIAJERO,MUJER,HL,21
23,2010-01-01,4:00,VIERNES,RETIRO,7,COLISIÓN MÚLTIPLE,VARIOS,VIAJERO,HOMBRE,HL,18
24,2010-01-01,5:00,VIERNES,SALAMANCA,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,HL,60
25,2010-01-01,5:00,VIERNES,SALAMANCA,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,MUJER,IL,25
26,2010-01-01,5:00,VIERNES,SALAMANCA,1,COLISIÓN DOBLE,TURISMO,VIAJERO,HOMBRE,IL,25
27,2010-01-01,8:00,VIERNES,CARABANCHEL,2,CHOQUE CON OBJETO FIJO,TURISMO,CONDUCTOR,HOMBRE,HL,35
28,2010-01-01,8:00,VIERNES,CARABANCHEL,2,CHOQUE CON OBJETO FIJO,TURISMO,VIAJERO,HOMBRE,HL,45
29,2010-01-01,9:00,VIERNES,CIUDAD LINEAL,1,CAÍDA MOTOCICLETA,MOTOCICLETA,CONDUCTOR,HOMBRE,HL,30
...,...,...,...,...,...,...,...,...,...,...,...
26548,2010-12-31,14:00,VIERNES,ARGANZUELA,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,35
26549,2010-12-31,14:00,VIERNES,ARGANZUELA,1,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,IL,30
26550,2010-12-31,14:00,VIERNES,ARGANZUELA,1,COLISIÓN DOBLE,CICLOMOTOR,CONDUCTOR,HOMBRE,HG,25
26551,2010-12-31,14:00,VIERNES,LATINA,1,ATROPELLO,NO ASIGNADO,PEATON,HOMBRE,HL,18
26552,2010-12-31,14:00,VIERNES,LATINA,1,ATROPELLO,TURISMO,CONDUCTOR,MUJER,IL,25
26553,2010-12-31,14:00,VIERNES,LATINA,1,ATROPELLO,TURISMO,CONDUCTOR,HOMBRE,IL,21
26554,2010-12-31,14:00,VIERNES,SAN BLAS,1,ATROPELLO,NO ASIGNADO,PEATON,HOMBRE,HL,60
26555,2010-12-31,14:00,VIERNES,SAN BLAS,1,ATROPELLO,TURISMO,CONDUCTOR,MUJER,IL,21
26556,2010-12-31,14:00,VIERNES,SAN BLAS,1,ATROPELLO,TURISMO,VIAJERO,MUJER,IL,74
26557,2010-12-31,15:00,VIERNES,HORTALEZA,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,21
26558,2010-12-31,15:00,VIERNES,HORTALEZA,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,HL,30
26559,2010-12-31,16:00,VIERNES,FUENCARRAL-EL PARDO,3,COLISIÓN MÚLTIPLE,TURISMO,CONDUCTOR,HOMBRE,IL,0
26560,2010-12-31,16:00,VIERNES,FUENCARRAL-EL PARDO,3,COLISIÓN MÚLTIPLE,TURISMO,CONDUCTOR,HOMBRE,IL,35
26561,2010-12-31,16:00,VIERNES,FUENCARRAL-EL PARDO,3,COLISIÓN MÚLTIPLE,TURISMO,CONDUCTOR,HOMBRE,HL,25
26562,2010-12-31,16:00,VIERNES,FUENCARRAL-EL PARDO,3,COLISIÓN MÚLTIPLE,TURISMO,VIAJERO,HOMBRE,HL,0
26563,2010-12-31,16:00,VIERNES,FUENCARRAL-EL PARDO,3,COLISIÓN MÚLTIPLE,TURISMO,VIAJERO,HOMBRE,HL,21
26564,2010-12-31,17:00,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,NO ASIGNADO,TESTIGO,HOMBRE,IL,18
26565,2010-12-31,17:00,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,MUJER,IL,50
26566,2010-12-31,17:00,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,MOTOCICLETA,CONDUCTOR,HOMBRE,HL,35
26567,2010-12-31,18:00,VIERNES,CHAMBERI,1,CAÍDA CICLOMOTOR,CICLOMOTOR,CONDUCTOR,MUJER,HL,40
26568,2010-12-31,19:00,VIERNES,BARAJAS,1,CHOQUE CON OBJETO FIJO,NO ASIGNADO,TESTIGO,HOMBRE,IL,25
26569,2010-12-31,19:00,VIERNES,BARAJAS,1,CHOQUE CON OBJETO FIJO,TURISMO,CONDUCTOR,HOMBRE,HL,25
26570,2010-12-31,19:00,VIERNES,CHAMARTIN,1,ATROPELLO,NO ASIGNADO,PEATON,MUJER,HL,30
26571,2010-12-31,19:00,VIERNES,CHAMARTIN,1,ATROPELLO,NO ASIGNADO,TESTIGO,HOMBRE,IL,30
26572,2010-12-31,19:00,VIERNES,CHAMARTIN,1,ATROPELLO,TURISMO,CONDUCTOR,HOMBRE,IL,18
26573,2010-12-31,20:00,VIERNES,ARGANZUELA,1,CAÍDA MOTOCICLETA,MOTOCICLETA,CONDUCTOR,HOMBRE,HL,45
26574,2010-12-31,21:00,VIERNES,BARAJAS,1,CHOQUE CON OBJETO FIJO,MOTOCICLETA,CONDUCTOR,HOMBRE,HL,30
26575,2010-12-31,23:00,VIERNES,RETIRO,1,ATROPELLO,NO ASIGNADO,PEATON,HOMBRE,HL,40
26576,2010-12-31,23:00,VIERNES,RETIRO,1,ATROPELLO,TURISMO,CONDUCTOR,MUJER,IL,25
26577,2010-12-31,23:00,VIERNES,RETIRO,1,ATROPELLO,TURISMO,VIAJERO,HOMBRE,IL,55

In [386]:
df_from_xls["HORA"][3]

'1:00'

In [387]:
df_from_xls["HORA"] = pd.to_datetime(df_from_xls["HORA"],errors="coerce").dt.strftime("%H:%M")
print (df_from_xls["HORA"])

0        00:00
1        00:00
2        00:00
3        01:00
4        01:00
5        01:00
6        01:00
7        01:00
8        01:00
9        01:00
10       01:00
11       02:00
12       02:00
13       04:00
14       04:00
15       04:00
16       04:00
17       04:00
18       04:00
19       04:00
20       04:00
21       04:00
22       04:00
23       04:00
24       05:00
25       05:00
26       05:00
27       08:00
28       08:00
29       09:00
         ...
26548    14:00
26549    14:00
26550    14:00
26551    14:00
26552    14:00
26553    14:00
26554    14:00
26555    14:00
26556    14:00
26557    15:00
26558    15:00
26559    16:00
26560    16:00
26561    16:00
26562    16:00
26563    16:00
26564    17:00
26565    17:00
26566    17:00
26567    18:00
26568    19:00
26569    19:00
26570    19:00
26571    19:00
26572    19:00
26573    20:00
26574    21:00
26575    23:00
26576    23:00
26577    23:00
Name: HORA, Length: 26578, dtype: object

In [388]:
df_from_xls["HORA"][3]

'01:00'

In [389]:
df_from_xls.HORA.dtype

dtype('O')

In [390]:
df_from_xls.dtypes

FECHA             datetime64[ns]
HORA                      object
DIA_SEMANA                object
DISTRITO                  object
NUM_PERSONAS               int64
TIPO_ACCIDENTE            object
TIPO_VEHICULO             object
TIPO_PERSONA              object
SEXO                      object
LESIVIDAD                 object
TRAMO_EDAD                object
dtype: object

In [391]:
df_from_xls.head()

,FECHA,HORA,DIA_SEMANA,DISTRITO,NUM_PERSONAS,TIPO_ACCIDENTE,TIPO_VEHICULO,TIPO_PERSONA,SEXO,LESIVIDAD,TRAMO_EDAD
0,2010-01-01,00:00,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,18
1,2010-01-01,00:00,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,50
2,2010-01-01,00:00,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,HL,40
3,2010-01-01,01:00,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,25
4,2010-01-01,01:00,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,30

In [392]:
df_from_xls.TRAMO_EDAD.head()

0    18
1    50
2    40
3    25
4    30
Name: TRAMO_EDAD, dtype: object

In [393]:
df_from_xls.TRAMO_EDAD

0        18
1        50
2        40
3        25
4        30
5        25
6        25
7        25
8        25
9        21
10       25
11       35
12       35
13       25
14       30
15       25
16       30
17       18
18       21
19       21
20       30
21       18
22       21
23       18
24       60
25       25
26       25
27       35
28       45
29       30
         ..
26548    35
26549    30
26550    25
26551    18
26552    25
26553    21
26554    60
26555    21
26556    74
26557    21
26558    30
26559     0
26560    35
26561    25
26562     0
26563    21
26564    18
26565    50
26566    35
26567    40
26568    25
26569    25
26570    30
26571    30
26572    18
26573    45
26574    30
26575    40
26576    25
26577    55
Name: TRAMO_EDAD, Length: 26578, dtype: object

In [394]:
df_from_xls["TRAMO_EDAD"].unique()

array(['18', '50', '40', '25', '30', '21', '35', '60', '45', '0',
       'NO_ASIGNADO', '70', 74, '10', '6', '55', '65', '15'], dtype=object)

In [395]:
df_from_xls.count()

FECHA             26578
HORA              26578
DIA_SEMANA        26578
DISTRITO          26578
NUM_PERSONAS      26578
TIPO_ACCIDENTE    26578
TIPO_VEHICULO     26578
TIPO_PERSONA      26578
SEXO              26578
LESIVIDAD         26578
TRAMO_EDAD        26578
dtype: int64

In [396]:
#?pd.value_counts

In [397]:
pd.value_counts(df_from_xls['TRAMO_EDAD']=='NO_ASIGNADO', sort=True, ascending=False, normalize=False, bins=None, dropna=False)

False    24234
True      2344
Name: TRAMO_EDAD, dtype: int64

In [398]:
import pandas as pd
df_from_xls["TRAMO_EDAD"] = df_from_xls["TRAMO_EDAD"].replace({"NO_ASIGNADO":999}, regex=True)

In [399]:
pd.value_counts(df_from_xls['TRAMO_EDAD']=='NO_ASIGNADO', sort=True, ascending=False, normalize=False, bins=None, dropna=False)

False    26578
Name: TRAMO_EDAD, dtype: int64

In [400]:
df_from_xls["TRAMO_EDAD"] = pd.to_numeric(df_from_xls["TRAMO_EDAD"])

In [401]:
df_from_xls.TRAMO_EDAD.dtype

dtype('int64')

In [402]:
#df.loc[df.column_name condition, 'new column name'] = 'value if condition is met'
#df['new column name'] = df['df column_name'].apply(lambda x: 'value if condition is met' if x condition else 'value if condition is not met')
#df_from_xls.loc[(df_from_xls.TRAMO_EDAD >= 0) & (df_from_xls.TRAMO_EDAD < 10), 5] = 'Mis-Match'  

df_from_xls['EDAD_MEDIA'] = df_from_xls['TRAMO_EDAD'].apply\
(lambda x : 5 if x < 10 else (15 if x < 20 else (25 if x < 30 else \
(35 if x < 40 else (45 if x < 50 else (55 if x < 60 else (65 if x < 70 else \
(75 if x < 80 else (85 if x < 90 else (95 if x < 100 else (105 if x < 110 else \
(115 if x < 120 else 'NO_ASIGNADO'))))))))))))

df_from_xls['EDAD_MEDIA']

0        15
1        55
2        45
3        25
4        35
5        25
6        25
7        25
8        25
9        25
10       25
11       35
12       35
13       25
14       35
15       25
16       35
17       15
18       25
19       25
20       35
21       15
22       25
23       15
24       65
25       25
26       25
27       35
28       45
29       35
         ..
26548    35
26549    35
26550    25
26551    15
26552    25
26553    25
26554    65
26555    25
26556    75
26557    25
26558    35
26559     5
26560    35
26561    25
26562     5
26563    25
26564    15
26565    55
26566    35
26567    45
26568    25
26569    25
26570    35
26571    35
26572    15
26573    45
26574    35
26575    45
26576    25
26577    55
Name: EDAD_MEDIA, Length: 26578, dtype: object

In [403]:
df_from_xls.EDAD_MEDIA.dtype

dtype('O')

In [404]:
pd.value_counts(df_from_xls['EDAD_MEDIA']=='NO_ASIGNADO', sort=True, ascending=False, normalize=False, bins=None, dropna=False)

False    24234
True      2344
Name: EDAD_MEDIA, dtype: int64

In [405]:
# borrar columnas sobrantes:
#data_xls_sin_columnas = 
del df_from_xls['TRAMO_EDAD']
# data_xls_sin_columnas = data_xls.drop(['BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR', 'BORRAR'], axis='columns', inplace=True)

In [406]:
df_from_xls.columns

Index(['FECHA', 'HORA', 'DIA_SEMANA', 'DISTRITO', 'NUM_PERSONAS',
       'TIPO_ACCIDENTE', 'TIPO_VEHICULO', 'TIPO_PERSONA', 'SEXO', 'LESIVIDAD',
       'EDAD_MEDIA'],
      dtype='object')

In [407]:
df_from_xls.dtypes

FECHA             datetime64[ns]
HORA                      object
DIA_SEMANA                object
DISTRITO                  object
NUM_PERSONAS               int64
TIPO_ACCIDENTE            object
TIPO_VEHICULO             object
TIPO_PERSONA              object
SEXO                      object
LESIVIDAD                 object
EDAD_MEDIA                object
dtype: object

In [408]:
df_from_xls.head()

,FECHA,HORA,DIA_SEMANA,DISTRITO,NUM_PERSONAS,TIPO_ACCIDENTE,TIPO_VEHICULO,TIPO_PERSONA,SEXO,LESIVIDAD,EDAD_MEDIA
0,2010-01-01,00:00,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,15
1,2010-01-01,00:00,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,IL,55
2,2010-01-01,00:00,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,HL,45
3,2010-01-01,01:00,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,25
4,2010-01-01,01:00,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HL,35

In [409]:
df_from_xls["LESIVIDAD"].unique()

array(['IL', 'HL', 'HG', 'NO ASIGNADA', 'MT'], dtype=object)

In [410]:
df_from_xls["LESIVIDAD"] = df_from_xls["LESIVIDAD"].replace({"IL":'INGRESO_LEVE'}, regex=True)
df_from_xls["LESIVIDAD"] = df_from_xls["LESIVIDAD"].replace({"HL":'HERIDO_LEVE'}, regex=True)
df_from_xls["LESIVIDAD"] = df_from_xls["LESIVIDAD"].replace({"HG":'HERIDO_GRAVE'}, regex=True)
df_from_xls["LESIVIDAD"] = df_from_xls["LESIVIDAD"].replace({"NO ASIGNADA":'NO_ASIGNADO'}, regex=True)
df_from_xls["LESIVIDAD"] = df_from_xls["LESIVIDAD"].replace({"MT":'MUERTO'}, regex=True)

In [411]:
df_from_xls["LESIVIDAD"].unique()

array(['INGRESO_LEVE', 'HERIDO_LEVE', 'HERIDO_GRAVE', 'NO_ASIGNADO',
       'MUERTO'], dtype=object)

In [412]:
df_from_xls.head()

,FECHA,HORA,DIA_SEMANA,DISTRITO,NUM_PERSONAS,TIPO_ACCIDENTE,TIPO_VEHICULO,TIPO_PERSONA,SEXO,LESIVIDAD,EDAD_MEDIA
0,2010-01-01,00:00,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,INGRESO_LEVE,15
1,2010-01-01,00:00,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,INGRESO_LEVE,55
2,2010-01-01,00:00,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,HERIDO_LEVE,45
3,2010-01-01,01:00,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HERIDO_LEVE,25
4,2010-01-01,01:00,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HERIDO_LEVE,35

In [413]:
df_from_xls["SEXO"].unique()

array(['HOMBRE', 'MUJER', 'NO ASIGNADO'], dtype=object)

In [414]:
df_from_xls["SEXO"] = df_from_xls["SEXO"].replace({"NO ASIGNADO":'NO_ASIGNADO'}, regex=True)

In [415]:
df_from_xls["SEXO"].unique()

array(['HOMBRE', 'MUJER', 'NO_ASIGNADO'], dtype=object)

In [416]:
df_from_xls.head()

,FECHA,HORA,DIA_SEMANA,DISTRITO,NUM_PERSONAS,TIPO_ACCIDENTE,TIPO_VEHICULO,TIPO_PERSONA,SEXO,LESIVIDAD,EDAD_MEDIA
0,2010-01-01,00:00,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,INGRESO_LEVE,15
1,2010-01-01,00:00,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,INGRESO_LEVE,55
2,2010-01-01,00:00,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,HERIDO_LEVE,45
3,2010-01-01,01:00,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HERIDO_LEVE,25
4,2010-01-01,01:00,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,NO ASIGNADO,VIAJERO,MUJER,HERIDO_LEVE,35

In [417]:
df_from_xls["TIPO_PERSONA"].unique()

array(['CONDUCTOR', 'VIAJERO', 'TESTIGO', 'PEATON'], dtype=object)

In [418]:
df_from_xls["TIPO_VEHICULO"].unique()

array(['TURISMO', 'NO ASIGNADO', 'FURGONETA', 'MOTOCICLETA', 'AUTO-TAXI',
       'VARIOS', 'CAMION', 'CICLOMOTOR', 'AUTOBUS-AUTOCAR', 'BICICLETA',
       'AMBULANCIA'], dtype=object)

In [419]:
df_from_xls["TIPO_VEHICULO"] = df_from_xls["TIPO_VEHICULO"].replace({"NO ASIGNADO":'NO_ASIGNADO'}, regex=True)
df_from_xls["TIPO_VEHICULO"] = df_from_xls["TIPO_VEHICULO"].replace({"AUTO-TAXI":'AUTO_TAXI'}, regex=True)
df_from_xls["TIPO_VEHICULO"] = df_from_xls["TIPO_VEHICULO"].replace({"AUTOBUS-AUTOCAR":'AUTOBUS_AUTOCAR'}, regex=True)

In [420]:
df_from_xls["TIPO_VEHICULO"].unique()

array(['TURISMO', 'NO_ASIGNADO', 'FURGONETA', 'MOTOCICLETA', 'AUTO_TAXI',
       'VARIOS', 'CAMION', 'CICLOMOTOR', 'AUTOBUS_AUTOCAR', 'BICICLETA',
       'AMBULANCIA'], dtype=object)

In [421]:
df_from_xls.head()

,FECHA,HORA,DIA_SEMANA,DISTRITO,NUM_PERSONAS,TIPO_ACCIDENTE,TIPO_VEHICULO,TIPO_PERSONA,SEXO,LESIVIDAD,EDAD_MEDIA
0,2010-01-01,00:00,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,INGRESO_LEVE,15
1,2010-01-01,00:00,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,CONDUCTOR,HOMBRE,INGRESO_LEVE,55
2,2010-01-01,00:00,VIERNES,CHAMARTIN,1,COLISIÓN DOBLE,TURISMO,VIAJERO,MUJER,HERIDO_LEVE,45
3,2010-01-01,01:00,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,NO_ASIGNADO,VIAJERO,MUJER,HERIDO_LEVE,25
4,2010-01-01,01:00,VIERNES,PUENTE DE VALLECAS,7,COLISIÓN MÚLTIPLE,NO_ASIGNADO,VIAJERO,MUJER,HERIDO_LEVE,35

In [422]:
df_from_xls["TIPO_ACCIDENTE"].unique()

array(['COLISIÓN DOBLE', 'COLISIÓN MÚLTIPLE', 'CHOQUE CON OBJETO FIJO',
       'CAÍDA MOTOCICLETA', 'ATROPELLO', 'VUELCO', 'CAÍDA CICLOMOTOR',
       'CAÍDA VIAJERO BUS', 'OTRAS CAUSAS', 'CAÍDA BICICLETA'],
      dtype=object)

In [423]:
df_from_xls["TIPO_ACCIDENTE"] = df_from_xls["TIPO_ACCIDENTE"].replace({"COLISIÓN DOBLE":'COLISION_DOBLE'}, regex=True)
df_from_xls["TIPO_ACCIDENTE"] = df_from_xls["TIPO_ACCIDENTE"].replace({"COLISIÓN MÚLTIPLE":'COLISION_MULTIPLE'}, regex=True)
df_from_xls["TIPO_ACCIDENTE"] = df_from_xls["TIPO_ACCIDENTE"].replace({"CHOQUE CON OBJETO FIJO":'CHOQUE_CON_OBJETO_FIJO'}, regex=True)
df_from_xls["TIPO_ACCIDENTE"] = df_from_xls["TIPO_ACCIDENTE"].replace({"CAÍDA ":'CAIDA_'}, regex=True)
df_from_xls["TIPO_ACCIDENTE"] = df_from_xls["TIPO_ACCIDENTE"].replace({"OTRAS CAUSAS":'OTRAS_CAUSAS'}, regex=True)

In [424]:
df_from_xls["TIPO_ACCIDENTE"].unique()

array(['COLISION_DOBLE', 'COLISION_MULTIPLE', 'CHOQUE_CON_OBJETO_FIJO',
       'CAIDA_MOTOCICLETA', 'ATROPELLO', 'VUELCO', 'CAIDA_CICLOMOTOR',
       'CAIDA_VIAJERO BUS', 'OTRAS_CAUSAS', 'CAIDA_BICICLETA'],
      dtype=object)

In [425]:
df_from_xls.head(30)

,FECHA,HORA,DIA_SEMANA,DISTRITO,NUM_PERSONAS,TIPO_ACCIDENTE,TIPO_VEHICULO,TIPO_PERSONA,SEXO,LESIVIDAD,EDAD_MEDIA
0,2010-01-01,00:00,VIERNES,CHAMARTIN,1,COLISION_DOBLE,TURISMO,CONDUCTOR,HOMBRE,INGRESO_LEVE,15
1,2010-01-01,00:00,VIERNES,CHAMARTIN,1,COLISION_DOBLE,TURISMO,CONDUCTOR,HOMBRE,INGRESO_LEVE,55
2,2010-01-01,00:00,VIERNES,CHAMARTIN,1,COLISION_DOBLE,TURISMO,VIAJERO,MUJER,HERIDO_LEVE,45
3,2010-01-01,01:00,VIERNES,PUENTE DE VALLECAS,7,COLISION_MULTIPLE,NO_ASIGNADO,VIAJERO,MUJER,HERIDO_LEVE,25
4,2010-01-01,01:00,VIERNES,PUENTE DE VALLECAS,7,COLISION_MULTIPLE,NO_ASIGNADO,VIAJERO,MUJER,HERIDO_LEVE,35
5,2010-01-01,01:00,VIERNES,PUENTE DE VALLECAS,7,COLISION_MULTIPLE,NO_ASIGNADO,VIAJERO,MUJER,HERIDO_LEVE,25
6,2010-01-01,01:00,VIERNES,PUENTE DE VALLECAS,7,COLISION_MULTIPLE,NO_ASIGNADO,VIAJERO,MUJER,HERIDO_LEVE,25
7,2010-01-01,01:00,VIERNES,PUENTE DE VALLECAS,7,COLISION_MULTIPLE,TURISMO,CONDUCTOR,HOMBRE,INGRESO_LEVE,25
8,2010-01-01,01:00,VIERNES,PUENTE DE VALLECAS,7,COLISION_MULTIPLE,TURISMO,CONDUCTOR,MUJER,HERIDO_LEVE,25
9,2010-01-01,01:00,VIERNES,PUENTE DE VALLECAS,7,COLISION_MULTIPLE,TURISMO,VIAJERO,MUJER,HERIDO_LEVE,25
10,2010-01-01,01:00,VIERNES,PUENTE DE VALLECAS,7,COLISION_MULTIPLE,FURGONETA,CONDUCTOR,HOMBRE,HERIDO_LEVE,25
11,2010-01-01,02:00,VIERNES,CHAMBERI,1,COLISION_DOBLE,MOTOCICLETA,CONDUCTOR,HOMBRE,HERIDO_LEVE,35
12,2010-01-01,02:00,VIERNES,CHAMBERI,1,COLISION_DOBLE,AUTO_TAXI,CONDUCTOR,HOMBRE,INGRESO_LEVE,35
13,2010-01-01,04:00,VIERNES,RETIRO,7,COLISION_MULTIPLE,NO_ASIGNADO,TESTIGO,HOMBRE,INGRESO_LEVE,25
14,2010-01-01,04:00,VIERNES,RETIRO,7,COLISION_MULTIPLE,NO_ASIGNADO,TESTIGO,HOMBRE,INGRESO_LEVE,35
15,2010-01-01,04:00,VIERNES,RETIRO,7,COLISION_MULTIPLE,TURISMO,CONDUCTOR,HOMBRE,HERIDO_LEVE,25
16,2010-01-01,04:00,VIERNES,RETIRO,7,COLISION_MULTIPLE,TURISMO,VIAJERO,HOMBRE,INGRESO_LEVE,35
17,2010-01-01,04:00,VIERNES,RETIRO,7,COLISION_MULTIPLE,TURISMO,VIAJERO,MUJER,INGRESO_LEVE,15
18,2010-01-01,04:00,VIERNES,RETIRO,7,COLISION_MULTIPLE,TURISMO,VIAJERO,MUJER,HERIDO_GRAVE,25
19,2010-01-01,04:00,VIERNES,RETIRO,7,COLISION_MULTIPLE,TURISMO,VIAJERO,MUJER,HERIDO_LEVE,25
20,2010-01-01,04:00,VIERNES,RETIRO,7,COLISION_MULTIPLE,MOTOCICLETA,CONDUCTOR,HOMBRE,HERIDO_LEVE,35
21,2010-01-01,04:00,VIERNES,RETIRO,7,COLISION_MULTIPLE,VARIOS,CONDUCTOR,HOMBRE,HERIDO_LEVE,15
22,2010-01-01,04:00,VIERNES,RETIRO,7,COLISION_MULTIPLE,VARIOS,VIAJERO,MUJER,HERIDO_LEVE,25
23,2010-01-01,04:00,VIERNES,RETIRO,7,COLISION_MULTIPLE,VARIOS,VIAJERO,HOMBRE,HERIDO_LEVE,15
24,2010-01-01,05:00,VIERNES,SALAMANCA,1,COLISION_DOBLE,TURISMO,CONDUCTOR,HOMBRE,HERIDO_LEVE,65
25,2010-01-01,05:00,VIERNES,SALAMANCA,1,COLISION_DOBLE,TURISMO,CONDUCTOR,MUJER,INGRESO_LEVE,25
26,2010-01-01,05:00,VIERNES,SALAMANCA,1,COLISION_DOBLE,TURISMO,VIAJERO,HOMBRE,INGRESO_LEVE,25
27,2010-01-01,08:00,VIERNES,CARABANCHEL,2,CHOQUE_CON_OBJETO_FIJO,TURISMO,CONDUCTOR,HOMBRE,HERIDO_LEVE,35
28,2010-01-01,08:00,VIERNES,CARABANCHEL,2,CHOQUE_CON_OBJETO_FIJO,TURISMO,VIAJERO,HOMBRE,HERIDO_LEVE,45
29,2010-01-01,09:00,VIERNES,CIUDAD LINEAL,1,CAIDA_MOTOCICLETA,MOTOCICLETA,CONDUCTOR,HOMBRE,HERIDO_LEVE,35

In [426]:
df_from_xls["NUM_PERSONAS"].unique()

array([ 1,  7,  2,  3,  4,  5,  9,  6,  8, 18, 13])

In [427]:
personas_implicadas = df_from_xls["NUM_PERSONAS"].groupby([df_from_xls["FECHA"], df_from_xls["HORA"]]).agg({'count'})
personas_implicadas

                  count
FECHA      HORA
2010-01-01 00:00      3
           01:00      8
           02:00      2
           04:00     11
           05:00      3
           08:00      2
           09:00      6
           20:00      5
           21:00     12
2010-01-02 02:00      2
           06:00      4
           08:00      1
           09:00      2
           11:00      3
           12:00      4
           13:00      3
           14:00      4
           15:00      1
           18:00     10
           19:00      4
           20:00      2
           22:00      2
2010-01-03 01:00      3
           13:00      4
           14:00      5
           15:00      3
           16:00      2
           17:00      8
           18:00      4
           20:00      9
...                 ...
2010-12-30 07:00      2
           08:00      2
           10:00      3
           13:00      3
           15:00      2
           16:00      6
           17:00      2
           18:00     16
           19:00     10
           20:00     27
           21:00     10
           22:00      8
           23:00      3
2010-12-31 00:00      1
           02:00      7
           04:00      4
           06:00      5
           09:00      4
           10:00      3
           11:00      4
           12:00      8
           14:00      9
           15:00      2
           16:00      5
           17:00      3
           18:00      1
           19:00      5
           20:00      1
           21:00      1
           23:00      3

[4964 rows x 1 columns]

In [428]:
type(personas_implicadas)

pandas.core.frame.DataFrame

In [429]:
#?pd.merge

In [430]:
from functools import reduce
dffxls_join_perimp = [df_from_xls, personas_implicadas]
#Assuming they have some common column, like name in your example, I'd do the following:
df_final = reduce(lambda left,right: pd.merge(left,right,on=['FECHA','HORA']), dffxls_join_perimp)
df_final

,FECHA,HORA,DIA_SEMANA,DISTRITO,NUM_PERSONAS,TIPO_ACCIDENTE,TIPO_VEHICULO,TIPO_PERSONA,SEXO,LESIVIDAD,EDAD_MEDIA,count
0,2010-01-01,00:00,VIERNES,CHAMARTIN,1,COLISION_DOBLE,TURISMO,CONDUCTOR,HOMBRE,INGRESO_LEVE,15,3
1,2010-01-01,00:00,VIERNES,CHAMARTIN,1,COLISION_DOBLE,TURISMO,CONDUCTOR,HOMBRE,INGRESO_LEVE,55,3
2,2010-01-01,00:00,VIERNES,CHAMARTIN,1,COLISION_DOBLE,TURISMO,VIAJERO,MUJER,HERIDO_LEVE,45,3
3,2010-01-01,01:00,VIERNES,PUENTE DE VALLECAS,7,COLISION_MULTIPLE,NO_ASIGNADO,VIAJERO,MUJER,HERIDO_LEVE,25,8
4,2010-01-01,01:00,VIERNES,PUENTE DE VALLECAS,7,COLISION_MULTIPLE,NO_ASIGNADO,VIAJERO,MUJER,HERIDO_LEVE,35,8
5,2010-01-01,01:00,VIERNES,PUENTE DE VALLECAS,7,COLISION_MULTIPLE,NO_ASIGNADO,VIAJERO,MUJER,HERIDO_LEVE,25,8
6,2010-01-01,01:00,VIERNES,PUENTE DE VALLECAS,7,COLISION_MULTIPLE,NO_ASIGNADO,VIAJERO,MUJER,HERIDO_LEVE,25,8
7,2010-01-01,01:00,VIERNES,PUENTE DE VALLECAS,7,COLISION_MULTIPLE,TURISMO,CONDUCTOR,HOMBRE,INGRESO_LEVE,25,8
8,2010-01-01,01:00,VIERNES,PUENTE DE VALLECAS,7,COLISION_MULTIPLE,TURISMO,CONDUCTOR,MUJER,HERIDO_LEVE,25,8
9,2010-01-01,01:00,VIERNES,PUENTE DE VALLECAS,7,COLISION_MULTIPLE,TURISMO,VIAJERO,MUJER,HERIDO_LEVE,25,8
10,2010-01-01,01:00,VIERNES,PUENTE DE VALLECAS,7,COLISION_MULTIPLE,FURGONETA,CONDUCTOR,HOMBRE,HERIDO_LEVE,25,8
11,2010-01-01,02:00,VIERNES,CHAMBERI,1,COLISION_DOBLE,MOTOCICLETA,CONDUCTOR,HOMBRE,HERIDO_LEVE,35,2
12,2010-01-01,02:00,VIERNES,CHAMBERI,1,COLISION_DOBLE,AUTO_TAXI,CONDUCTOR,HOMBRE,INGRESO_LEVE,35,2
13,2010-01-01,04:00,VIERNES,RETIRO,7,COLISION_MULTIPLE,NO_ASIGNADO,TESTIGO,HOMBRE,INGRESO_LEVE,25,11
14,2010-01-01,04:00,VIERNES,RETIRO,7,COLISION_MULTIPLE,NO_ASIGNADO,TESTIGO,HOMBRE,INGRESO_LEVE,35,11
15,2010-01-01,04:00,VIERNES,RETIRO,7,COLISION_MULTIPLE,TURISMO,CONDUCTOR,HOMBRE,HERIDO_LEVE,25,11
16,2010-01-01,04:00,VIERNES,RETIRO,7,COLISION_MULTIPLE,TURISMO,VIAJERO,HOMBRE,INGRESO_LEVE,35,11
17,2010-01-01,04:00,VIERNES,RETIRO,7,COLISION_MULTIPLE,TURISMO,VIAJERO,MUJER,INGRESO_LEVE,15,11
18,2010-01-01,04:00,VIERNES,RETIRO,7,COLISION_MULTIPLE,TURISMO,VIAJERO,MUJER,HERIDO_GRAVE,25,11
19,2010-01-01,04:00,VIERNES,RETIRO,7,COLISION_MULTIPLE,TURISMO,VIAJERO,MUJER,HERIDO_LEVE,25,11
20,2010-01-01,04:00,VIERNES,RETIRO,7,COLISION_MULTIPLE,MOTOCICLETA,CONDUCTOR,HOMBRE,HERIDO_LEVE,35,11
21,2010-01-01,04:00,VIERNES,RETIRO,7,COLISION_MULTIPLE,VARIOS,CONDUCTOR,HOMBRE,HERIDO_LEVE,15,11
22,2010-01-01,04:00,VIERNES,RETIRO,7,COLISION_MULTIPLE,VARIOS,VIAJERO,MUJER,HERIDO_LEVE,25,11
23,2010-01-01,04:00,VIERNES,RETIRO,7,COLISION_MULTIPLE,VARIOS,VIAJERO,HOMBRE,HERIDO_LEVE,15,11
24,2010-01-01,05:00,VIERNES,SALAMANCA,1,COLISION_DOBLE,TURISMO,CONDUCTOR,HOMBRE,HERIDO_LEVE,65,3
25,2010-01-01,05:00,VIERNES,SALAMANCA,1,COLISION_DOBLE,TURISMO,CONDUCTOR,MUJER,INGRESO_LEVE,25,3
26,2010-01-01,05:00,VIERNES,SALAMANCA,1,COLISION_DOBLE,TURISMO,VIAJERO,HOMBRE,INGRESO_LEVE,25,3
27,2010-01-01,08:00,VIERNES,CARABANCHEL,2,CHOQUE_CON_OBJETO_FIJO,TURISMO,CONDUCTOR,HOMBRE,HERIDO_LEVE,35,2
28,2010-01-01,08:00,VIERNES,CARABANCHEL,2,CHOQUE_CON_OBJETO_FIJO,TURISMO,VIAJERO,HOMBRE,HERIDO_LEVE,45,2
29,2010-01-01,09:00,VIERNES,CIUDAD LINEAL,1,CAIDA_MOTOCICLETA,MOTOCICLETA,CONDUCTOR,HOMBRE,HERIDO_LEVE,35,6
...,...,...,...,...,...,...,...,...,...,...,...,...
26548,2010-12-31,14:00,VIERNES,ARGANZUELA,1,COLISION_DOBLE,TURISMO,CONDUCTOR,HOMBRE,INGRESO_LEVE,35,9
26549,2010-12-31,14:00,VIERNES,ARGANZUELA,1,COLISION_DOBLE,TURISMO,VIAJERO,MUJER,INGRESO_LEVE,35,9
26550,2010-12-31,14:00,VIERNES,ARGANZUELA,1,COLISION_DOBLE,CICLOMOTOR,CONDUCTOR,HOMBRE,HERIDO_GRAVE,25,9
26551,2010-12-31,14:00,VIERNES,LATINA,1,ATROPELLO,NO_ASIGNADO,PEATON,HOMBRE,HERIDO_LEVE,15,9
26552,2010-12-31,14:00,VIERNES,LATINA,1,ATROPELLO,TURISMO,CONDUCTOR,MUJER,INGRESO_LEVE,25,9
26553,2010-12-31,14:00,VIERNES,LATINA,1,ATROPELLO,TURISMO,CONDUCTOR,HOMBRE,INGRESO_LEVE,25,9
26554,2010-12-31,14:00,VIERNES,SAN BLAS,1,ATROPELLO,NO_ASIGNADO,PEATON,HOMBRE,HERIDO_LEVE,65,9
26555,2010-12-31,14:00,VIERNES,SAN BLAS,1,ATROPELLO,TURISMO,CONDUCTOR,MUJER,INGRESO_LEVE,25,9
26556,2010-12-31,14:00,VIERNES,SAN BLAS,1,ATROPELLO,TURISMO,VIAJERO,MUJER,INGRESO_LEVE,75,9
26557,2010-12-31,15:00,VIERNES,HORTALEZA,1,COLISION_DOBLE,TURISMO,CONDUCTOR,HOMBRE,INGRESO_LEVE,25,2
26558,2010-12-31,15:00,VIERNES,HORTALEZA,1,COLISION_DOBLE,TURISMO,CONDUCTOR,HOMBRE,HERIDO_LEVE,35,2
26559,2010-12-31,16:00,VIERNES,FUENCARRAL-EL PARDO,3,COLISION_MULTIPLE,TURISMO,CONDUCTOR,HOMBRE,INGRESO_LEVE,5,5
26560,2010-12-31,16:00,VIERNES,FUENCARRAL-EL PARDO,3,COLISION_MULTIPLE,TURISMO,CONDUCTOR,HOMBRE,INGRESO_LEVE,35,5
26561,2010-12-31,16:00,VIERNES,FUENCARRAL-EL PARDO,3,COLISION_MULTIPLE,TURISMO,CONDUCTOR,HOMBRE,HERIDO_LEVE,25,5
26562,2010-12-31,16:00,VIERNES,FUENCARRAL-EL PARDO,3,COLISION_MULTIPLE,TURISMO,VIAJERO,HOMBRE,HERIDO_LEVE,5,5
26563,2010-12-31,16:00,VIERNES,FUENCARRAL-EL PARDO,3,COLISION_MULTIPLE,TURISMO,VIAJERO,HOMBRE,HERIDO_LEVE,25,5
26564,2010-12-31,17:00,VIERNES,CHAMARTIN,1,COLISION_DOBLE,NO_ASIGNADO,TESTIGO,HOMBRE,INGRESO_LEVE,15,3
26565,2010-12-31,17:00,VIERNES,CHAMARTIN,1,COLISION_DOBLE,TURISMO,CONDUCTOR,MUJER,INGRESO_LEVE,55,3
26566,2010-12-31,17:00,VIERNES,CHAMARTIN,1,COLISION_DOBLE,MOTOCICLETA,CONDUCTOR,HOMBRE,HERIDO_LEVE,35,3
26567,2010-12-31,18:00,VIERNES,CHAMBERI,1,CAIDA_CICLOMOTOR,CICLOMOTOR,CONDUCTOR,MUJER,HERIDO_LEVE,45,1
26568,2010-12-31,19:00,VIERNES,BARAJAS,1,CHOQUE_CON_OBJETO_FIJO,NO_ASIGNADO,TESTIGO,HOMBRE,INGRESO_LEVE,25,5
26569,2010-12-31,19:00,VIERNES,BARAJAS,1,CHOQUE_CON_OBJETO_FIJO,TURISMO,CONDUCTOR,HOMBRE,HERIDO_LEVE,25,5
26570,2010-12-31,19:00,VIERNES,CHAMARTIN,1,ATROPELLO,NO_ASIGNADO,PEATON,MUJER,HERIDO_LEVE,35,5
26571,2010-12-31,19:00,VIERNES,CHAMARTIN,1,ATROPELLO,NO_ASIGNADO,TESTIGO,HOMBRE,INGRESO_LEVE,35,5
26572,2010-12-31,19:00,VIERNES,CHAMARTIN,1,ATROPELLO,TURISMO,CONDUCTOR,HOMBRE,INGRESO_LEVE,15,5
26573,2010-12-31,20:00,VIERNES,ARGANZUELA,1,CAIDA_MOTOCICLETA,MOTOCICLETA,CONDUCTOR,HOMBRE,HERIDO_LEVE,45,1
26574,2010-12-31,21:00,VIERNES,BARAJAS,1,CHOQUE_CON_OBJETO_FIJO,MOTOCICLETA,CONDUCTOR,HOMBRE,HERIDO_LEVE,35,1
26575,2010-12-31,23:00,VIERNES,RETIRO,1,ATROPELLO,NO_ASIGNADO,PEATON,HOMBRE,HERIDO_LEVE,45,3
26576,2010-12-31,23:00,VIERNES,RETIRO,1,ATROPELLO,TURISMO,CONDUCTOR,MUJER,INGRESO_LEVE,25,3
26577,2010-12-31,23:00,VIERNES,RETIRO,1,ATROPELLO,TURISMO,VIAJERO,HOMBRE,INGRESO_LEVE,55,3

In [431]:
df_final.columns

Index(['FECHA', 'HORA', 'DIA_SEMANA', 'DISTRITO', 'NUM_PERSONAS',
       'TIPO_ACCIDENTE', 'TIPO_VEHICULO', 'TIPO_PERSONA', 'SEXO', 'LESIVIDAD',
       'EDAD_MEDIA', 'count'],
      dtype='object')

In [432]:
df_final["TOT_PERS_IMPLS"]=df_final["count"]
df_final.columns

Index(['FECHA', 'HORA', 'DIA_SEMANA', 'DISTRITO', 'NUM_PERSONAS',
       'TIPO_ACCIDENTE', 'TIPO_VEHICULO', 'TIPO_PERSONA', 'SEXO', 'LESIVIDAD',
       'EDAD_MEDIA', 'count', 'TOT_PERS_IMPLS'],
      dtype='object')

In [433]:
del df_final["count"]
df_final.columns

Index(['FECHA', 'HORA', 'DIA_SEMANA', 'DISTRITO', 'NUM_PERSONAS',
       'TIPO_ACCIDENTE', 'TIPO_VEHICULO', 'TIPO_PERSONA', 'SEXO', 'LESIVIDAD',
       'EDAD_MEDIA', 'TOT_PERS_IMPLS'],
      dtype='object')

In [434]:
df_final.head()

,FECHA,HORA,DIA_SEMANA,DISTRITO,NUM_PERSONAS,TIPO_ACCIDENTE,TIPO_VEHICULO,TIPO_PERSONA,SEXO,LESIVIDAD,EDAD_MEDIA,TOT_PERS_IMPLS
0,2010-01-01,00:00,VIERNES,CHAMARTIN,1,COLISION_DOBLE,TURISMO,CONDUCTOR,HOMBRE,INGRESO_LEVE,15,3
1,2010-01-01,00:00,VIERNES,CHAMARTIN,1,COLISION_DOBLE,TURISMO,CONDUCTOR,HOMBRE,INGRESO_LEVE,55,3
2,2010-01-01,00:00,VIERNES,CHAMARTIN,1,COLISION_DOBLE,TURISMO,VIAJERO,MUJER,HERIDO_LEVE,45,3
3,2010-01-01,01:00,VIERNES,PUENTE DE VALLECAS,7,COLISION_MULTIPLE,NO_ASIGNADO,VIAJERO,MUJER,HERIDO_LEVE,25,8
4,2010-01-01,01:00,VIERNES,PUENTE DE VALLECAS,7,COLISION_MULTIPLE,NO_ASIGNADO,VIAJERO,MUJER,HERIDO_LEVE,35,8

In [435]:
personas_implicadas.head()

                  count
FECHA      HORA
2010-01-01 00:00      3
           01:00      8
           02:00      2
           04:00     11
           05:00      3

In [436]:

# reset the index 
result = personas_implicadas.reset_index() 
  
# Print the result 
print(result)

          FECHA   HORA  count
0    2010-01-01  00:00      3
1    2010-01-01  01:00      8
2    2010-01-01  02:00      2
3    2010-01-01  04:00     11
4    2010-01-01  05:00      3
5    2010-01-01  08:00      2
6    2010-01-01  09:00      6
7    2010-01-01  20:00      5
8    2010-01-01  21:00     12
9    2010-01-02  02:00      2
10   2010-01-02  06:00      4
11   2010-01-02  08:00      1
12   2010-01-02  09:00      2
13   2010-01-02  11:00      3
14   2010-01-02  12:00      4
15   2010-01-02  13:00      3
16   2010-01-02  14:00      4
17   2010-01-02  15:00      1
18   2010-01-02  18:00     10
19   2010-01-02  19:00      4
20   2010-01-02  20:00      2
21   2010-01-02  22:00      2
22   2010-01-03  01:00      3
23   2010-01-03  13:00      4
24   2010-01-03  14:00      5
25   2010-01-03  15:00      3
26   2010-01-03  16:00      2
27   2010-01-03  17:00      8
28   2010-01-03  18:00      4
29   2010-01-03  20:00      9
...         ...    ...    ...
4934 2010-12-30  07:00      2
4935 2010-12-30  08:00      2
4936 2010-12-30  10:00      3
4937 2010-12-30  13:00      3
4938 2010-12-30  15:00      2
4939 2010-12-30  16:00      6
4940 2010-12-30  17:00      2
4941 2010-12-30  18:00     16
4942 2010-12-30  19:00     10
4943 2010-12-30  20:00     27
4944 2010-12-30  21:00     10
4945 2010-12-30  22:00      8
4946 2010-12-30  23:00      3
4947 2010-12-31  00:00      1
4948 2010-12-31  02:00      7
4949 2010-12-31  04:00      4
4950 2010-12-31  06:00      5
4951 2010-12-31  09:00      4
4952 2010-12-31  10:00      3
4953 2010-12-31  11:00      4
4954 2010-12-31  12:00      8
4955 2010-12-31  14:00      9
4956 2010-12-31  15:00      2
4957 2010-12-31  16:00      5
4958 2010-12-31  17:00      3
4959 2010-12-31  18:00      1
4960 2010-12-31  19:00      5
4961 2010-12-31  20:00      1
4962 2010-12-31  21:00      1
4963 2010-12-31  23:00      3

[4964 rows x 3 columns]

In [437]:
result.head()

       FECHA   HORA  count
0 2010-01-01  00:00      3
1 2010-01-01  01:00      8
2 2010-01-01  02:00      2
3 2010-01-01  04:00     11
4 2010-01-01  05:00      3

In [438]:
result=result.rename(columns = {'count':'NUM_PERS_IMPLS'})
result.head()

       FECHA   HORA  NUM_PERS_IMPLS
0 2010-01-01  00:00               3
1 2010-01-01  01:00               8
2 2010-01-01  02:00               2
3 2010-01-01  04:00              11
4 2010-01-01  05:00               3

In [439]:
type(result)

pandas.core.frame.DataFrame

In [440]:
result.columns

Index(['FECHA', 'HORA', 'NUM_PERS_IMPLS'], dtype='object')

In [441]:
result.dtypes

FECHA             datetime64[ns]
HORA                      object
NUM_PERS_IMPLS             int64
dtype: object

In [451]:
result['HORA'] = pd.to_datetime(result['HORA'], format='%H:%M').dt.hour

ValueError: time data 0 does not match format '%H:%M' (match)

In [452]:
result.head()

       FECHA  HORA  NUM_PERS_IMPLS
0 2010-01-01     0               3
1 2010-01-01     1               8
2 2010-01-01     2               2
3 2010-01-01     4              11
4 2010-01-01     5               3

In [473]:
result["HORA"].unique()

array([ 0,  1,  2,  4,  5,  8,  9, 20, 21,  6, 11, 12, 13, 14, 15, 18, 19,
       22, 16, 17, 23,  7, 10,  3])

In [443]:
result.dtypes

FECHA             datetime64[ns]
HORA                       int64
NUM_PERS_IMPLS             int64
dtype: object

In [444]:
#aqui

In [445]:
# frames = [df1, df2, df3]
# result = pd.concat(frames)

In [446]:
# crear nueva columna por vectorizacion numpy concatenando los valores de la columna fecha y la columna hora
# df['nueva']=np:concat(df['col1'] df['col2'])

In [447]:
#df_from_xls.duplicated()
#df_from_xls.duplicated().sum()
#df_from_xls.drop_duplicates()

In [448]:
# convertimos el excel a csv sin incluir columna de indice por defecto
# df_from_xls.to_csv("./csv_files/2010.csv", sep= ",", encoding='utf-8', index=False)

In [449]:
# !ls -ltr csv_files/